:root {
  --gap: 1rem;
}

.Popover {
  z-index: var(--lp-z-index-700);
  position: absolute;
}

.Popover:focus {
  outline: none;
}

/* Popover target */

.Popover-target {
  display: inline-block;
}

.Popover-target--disabled > [disabled] {
  pointer-events: none;
}

/* Popover content */

.Popover-content {
  background: var(--lp-color-bg-overlay-primary);
  border-radius: var(--lp-border-radius);

  /* --color-black-100 */
  box-shadow: 0 0 4px hsl(0 0% 15.7% / 0.12), 0 1px 2px hsl(0 0% 15.7% / 0.1),
    0 4px 4px hsl(0 0% 15.7% / 0.08);
}

.Popover-content--restrictWidth {
  max-width: 320px;
}

.Popover-scroller {
  max-height: 55vh;
  overflow: auto;
}

/* Placement  */

.Popover[data-popover-placement^='top'] {
  padding-bottom: var(--gap);
}

.Popover[data-popover-placement^='bottom'] {
  padding-top: var(--gap);
}

.Popover[data-popover-placement^='left'] {
  padding-right: var(--gap);
}

.Popover[data-popover-placement^='right'] {
  padding-left: var(--gap);
}

:global(#arrow),
:global(#arrow::before) {
  position: absolute;
  width: 10px;
  height: 10px;
  background: inherit;
  background-color: var(--lp-color-bg-overlay-secondary);
  color: var(--lp-color-text-ui-primary);
}

:global(#arrow) {
  visibility: hidden;
}

:global(#arrow::before) {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
