@import '../../../tokens/dist/media-queries.css';

:root {
  --one-of-twelve: 8.333%;
  --two-of-twelve: 16.667%;
  --three-of-twelve: 25%;
  --four-of-twelve: 33.333%;
  --five-of-twelve: 41.667%;
  --six-of-twelve: 50%;
}

.Table {
  table-layout: fixed;
  border-collapse: collapse;
}

.Table:not(.Table--auto) {
  width: 100%;
}

.Table--compact {
  font-size: 1.3rem;
}

.Table-header {
  border-bottom: 1px solid var(--lp-color-border-ui-primary);
}

.Table-cell {
  padding: 1rem 2rem;
}

.Table-cell--left {
  text-align: left;
}

.Table-cell--center {
  text-align: center;
}

.Table-cell--right {
  text-align: right;
}

.Table-cell--justify {
  text-align: justify;
}

.Table-cell--char {
  text-align: '.';
}

.Table--compact .Table-cell {
  padding: 0.5rem 1rem;
}

.Table-cell--head {
  white-space: nowrap;
  color: var(--lp-color-text-ui-secondary);
  font-weight: var(--lp-font-weight-semibold);
}

@media (--tablet) {
  .Table-cell--head {
    white-space: normal;
  }
}

.Table--resourceTable .Table-cell--head {
  background: var(--lp-color-white-100);
  color: var(--lp-color-text-ui-secondary);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.TableHeader-title {
  font-size: var(--lp-font-size-500);
  font-weight: var(--lp-font-weight-regular);
  line-height: 1.5;
  display: flex;
  align-items: center;
}

.TableHeader-description {
  font-size: 1.3rem;
}

.TableHeader-counter {
  margin-top: -3px;
}

.TableHeaderToolbar-secondRow {
  padding-bottom: 0.75rem;
  display: flex;
  flex-wrap: wrap;
}

.Table--resourceTable .Table-row,
.Table-row--top {
  vertical-align: top;
}

.Table-row--middle,
.Table--resourceTable .Table-row--middle,
.Table--resourceTable .Table-row .Table-cell--head {
  vertical-align: middle;
}

.Table-row--bottom,
.Table--resourceTable .Table-row--bottom {
  vertical-align: bottom;
}

.Table-body .Table-row + .Table-row {
  border-top: 1px solid var(--lp-color-border-ui-secondary);
}

/* Used for "smallest possible table column". Table cell will expand to fit content. */
/* stylelint-disable selector-class-pattern */
.Table-cell--width-zero {
  width: 0;
}

.Table-cell--width-one-of-twelve {
  width: var(--one-of-twelve);
}

.Table-cell--width-two-of-twelve {
  width: var(--two-of-twelve);
}

.Table-cell--width-three-of-twelve {
  width: var(--three-of-twelve);
}

.Table-cell--width-four-of-twelve {
  width: var(--four-of-twelve);
}

.Table-cell--width-five-of-twelve {
  width: var(--five-of-twelve);
}

.Table-cell--width-six-of-twelve {
  width: var(--six-of-twelve);
}
/* stylelint-enable selector-class-pattern */
