:root,
[data-theme='default'] {
	--lp-component-progressbubbles-color-bg: var(--lp-color-gray-200);
	--lp-component-progressbubbles-color-fill-warning: hsl(29.2 100% 58.4%);
}

[data-theme='dark'] {
	--lp-component-progressbubbles-color-bg: var(--lp-color-gray-800);
	--lp-component-progressbubbles-color-fill-warning: hsl(29 83% 40%);
}

.ProgressBubbles {
	display: flex;
	align-items: center;
	margin: 0 1.25rem;
}

.ProgressBubbles-bubble {
	background-color: var(--lp-component-progressbubbles-color-bg);
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 0.625rem;
	padding-top: 1.25rem;
	box-sizing: border-box;

	/* text label */
	overflow: visible;
	display: flex;
	justify-content: center;
	white-space: nowrap;
	color: var(--lp-color-text-ui-secondary);
	font-size: 0.8125rem;
}

.ProgressBubbles-bubble--first {
	justify-content: flex-start;
}

.ProgressBubbles-bubble--last {
	justify-content: flex-end;
}

.ProgressBubbles-line {
	flex-grow: 1;
	height: 0.125rem;
	background-color: var(--lp-component-progressbubbles-color-bg);
}

.ProgressBubbles--filled {
	background-color: var(--lp-color-green-600);
}

.ProgressBubbles--vertical {
	flex-direction: column;
	height: 400px;
}

.ProgressBubbles--vertical .ProgressBubbles-line {
	width: 0.125rem;
	height: auto;
}

.ProgressBubbles--vertical .ProgressBubbles-bubble {
	padding: 0 0 0 1.25rem;
	justify-content: flex-start;
}

.ProgressBubblesUsingItems-line {
	flex-grow: 1;
	height: 0.4375rem;
	background-color: var(--lp-component-progressbubbles-color-bg);
	margin: 0 -0.3125rem;
}

.ProgressBubblesUsingItems-line--completed {
	background-color: var(--lp-color-green-700);
}

.ProgressBubblesIconContainer {
	overflow: visible;
	display: flex;
	flex-direction: column;
	justify-content: center;
	white-space: nowrap;
	font-size: 0.8125rem;
	align-items: center;
}

.ProgressBubbles-icon {
	align-items: center;
	background-color: var(--lp-color-green-700);
	border-radius: 50%;
	border: var(--lp-border-width-300) solid transparent;
	display: flex;
	justify-content: center;
	gap: 0.125rem;
	height: 1.75rem;
	position: relative;
	text-align: center;
	z-index: 1;
}

div.ProgressBubbles-icon--current {
	border: var(--lp-border-width-300) solid var(--lp-color-green-700);
	background-color: var(--lp-color-bg-ui-primary);
}

.ProgressBubbles-icon svg {
	fill: var(--lp-color-white-950);
	height: 1rem;
	width: 1rem;
}

.ProgressBubbles-icon--pending svg {
	fill: var(--lp-color-white-950);
}

div.ProgressBubbles-icon--current svg {
	fill: var(--lp-color-green-700);
}

div.ProgressBubbles-icon--pending {
	background-color: var(--lp-component-progressbubbles-color-bg);
}

div.ProgressBubbles-icon--warning {
	background-color: var(--lp-color-white-950);
	border: none;
}

div.ProgressBubbles-icon--warning svg {
	height: 2.25rem;
	width: 2.25rem;
	fill: var(--lp-component-progressbubbles-color-fill-warning);
}

.ProgressBubbles-icon--multiple {
	border-radius: 1.5rem;
}

.ProgressBubbles-text {
	margin-bottom: 0.3125rem;
	margin-top: 0.3125rem;
}

.ProgressBubblesPopoverTarget {
	cursor: pointer;
}

.ProgressBubbles-label {
	color: var(--lp-color-text-ui-secondary);
	padding-top: 0.625rem;
	position: absolute;
	top: 1.25rem;
	overflow: hidden;
	margin-top: 0.3125rem;
	margin-bottom: 0.3125rem;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	white-space: normal;
}
