.ProgressBubbles {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.ProgressBubbles-bubble {
  background-color: var(--lp-color-gray-200);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  padding-top: 2rem;
  box-sizing: border-box;

  /* text label */
  overflow: visible;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  color: var(--lp-color-gray-600);
  font-size: 1.3rem;
}

.ProgressBubbles-bubble--first {
  justify-content: flex-start;
}

.ProgressBubbles-bubble--last {
  justify-content: flex-end;
}

.ProgressBubbles-line {
  flex-grow: 1;
  height: 0.2rem;
  background-color: var(--lp-color-gray-200);
}

.ProgressBubbles--filled {
  background-color: var(--lp-color-system-green-600);
}

.ProgressBubbles--vertical {
  flex-direction: column;
  height: 400px;
}

.ProgressBubbles--vertical .ProgressBubbles-line {
  width: 0.2rem;
  height: auto;
}

.ProgressBubbles--vertical .ProgressBubbles-bubble {
  padding: 0 0 0 2rem;
  justify-content: flex-start;
}

.ProgressBubblesUsingItems-line {
  flex-grow: 1;
  height: 0.7rem;
  background-color: var(--lp-color-gray-200);
  margin: 0 -0.5rem;
}

.ProgressBubblesUsingItems-line--completed {
  background-color: var(--lp-color-system-green-700);
}

.ProgressBubblesIconContainer {
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  font-size: 1.3rem;
  align-items: center;
}

.ProgressBubbles-icon {
  align-items: center;
  background-color: var(--lp-color-system-green-700);
  border-radius: 50%;
  border: var(--lp-border-width-300) solid transparent;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  height: 2.8rem;
  position: relative;
  text-align: center;
  z-index: 1;
}

div.ProgressBubbles-icon--current {
  border: var(--lp-border-width-300) solid var(--lp-color-system-green-700);
  background-color: var(--lp-color-white);
}

.ProgressBubbles-icon svg {
  fill: var(--lp-color-white);
  height: 1.6rem;
  width: 1.6rem;
}

.ProgressBubbles-icon--pending svg {
  fill: var(--lp-color-white);
}

div.ProgressBubbles-icon--current svg {
  fill: var(--lp-color-system-green-700);
}

div.ProgressBubbles-icon--pending {
  background-color: var(--lp-color-gray-200);
}

div.ProgressBubbles-icon--warning {
  background-color: inherit;
  border: none;
}

div.ProgressBubbles-icon--warning svg {
  fill: hsl(29.2 100% 58.4%);
  height: 3.6rem;
  width: 3.6rem;
}

.ProgressBubbles-icon--multiple {
  border-radius: 2.4rem;
}

.ProgressBubbles-text {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.ProgressBubblesPopoverTarget {
  cursor: pointer;
}

.ProgressBubbles-label {
  color: var(--lp-color-black-200);
  padding-top: 1rem;
  position: absolute;
  top: 2rem;
  overflow: hidden;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
}

:root[data-theme] {
  & .ProgressBubbles-label {
    color: var(--lp-color-gray-700);
  }
}
