:root,
[data-theme='default'] {
	--lp-component-select-shadow-popover: 0 0 4px hsl(0 0% 15.7% / 0.12), 0 1px 2px
		hsl(0 0% 15.7% / 0.1), 0 4px 4px hsl(0 0% 15.7% / 0.08);
}

[data-theme='dark'] {
	--lp-component-select-shadow-popover: 0 0 4px var(--lp-color-shadow-ui-primary), 0 1px 2px
		var(--lp-color-shadow-ui-primary), 0 4px 4px var(--lp-color-shadow-ui-primary);
}

.options {
	list-style-type: none;
	padding: 0;
	margin: 0;
	outline: none;
	font-size: 1rem;
	overflow: auto;
}

.section {
	margin: 0;
	padding: 0;
}

.sectionOptions {
	margin: 0;
	padding: 0;
}

.option {
	padding: 0.5rem 1rem;
	color: var(--lp-color-text-ui-primary-base);
	cursor: pointer;
	list-style-type: none;
	margin: 0;
	width: 100%;
	display: block;
	text-decoration: none;

	&.isSelected {
		background-color: rgb(64 91 255 / 0.05);
	}

	&.isFocused {
		background-color: rgb(64 91 255 / 0.15);
		outline: none;
	}

	&.isDisabled {
		opacity: 0.5;
	}

	&:hover {
		background-color: rgb(64 91 255 / 0.15);
	}
}

.sectionHeader {
	background-color: var(--lp-color-bg-ui-secondary);
	color: var(--lp-color-text-ui-secondary);
	font-weight: bold;
	font-size: var(--lp-font-size-100);
	padding: 0.25rem 1rem;
}

.popover {
	border: 1px solid var(--lp-color-border-ui-primary);
	background: var(--lp-color-bg-overlay-secondary);
	border-radius: var(--lp-border-radius-regular);
	max-height: 55vh;
	box-shadow: var(--lp-component-select-shadow-popover);
	display: flex;
	flex-direction: column;
}

.listBox {
	overflow-y: scroll;
}

.trigger {
	background-color: var(--lp-color-bg-field-base);
	border: 1px solid var(--lp-color-border-field-base);
	position: relative;
	flex-direction: row;
	border-radius: var(--lp-border-radius-regular);
	min-height: 2rem;
	display: flex;
	overflow: visible;
	width: 100%;
	cursor: pointer;
	outline: 0;
	padding: 0;
	margin: 0;
	align-items: center;

	&.isOpen,
	&.isFocused {
		box-shadow: inset 0 1px 1px rgb(0 0 0 / 0.075), 0 0 0 3px rgb(0 126 255 / 0.1);
		border-color: var(--lp-color-border-field-focus);
	}

	&:disabled {
		opacity: 1;
		background-color: var(--lp-color-bg-field-disabled);
		border-color: var(--lp-color-border-field-disabled);
	}

	&:disabled:hover {
		cursor: not-allowed;
	}
}

.valueContainer {
	flex: 1;
	padding: 0.25rem;
	display: grid;
	align-items: center;
}

.singleValue {
	color: var(--lp-color-text-ui-primary-base);
	grid-area: 1 / 1 / 2 / 3;
	margin-left: 2px;
	margin-right: 2px;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
	font-size: 0.8125rem;
	text-align: left;
	display: flex;
	align-items: center;

	.trigger:disabled & {
		color: var(--lp-color-text-field-disabled);
	}
}

.indicatorsContainer {
	align-self: stretch;
	align-items: center;
	display: flex;
	flex-shrink: 0;
	box-sizing: border-box;
	color: var(--lp-color-text-ui-tertiary);

	.trigger:disabled & {
		color: var(--lp-color-text-field-disabled);
	}
}

.closeIndicatorContainer {
	padding: 0.25rem;

	svg {
		width: 16px;
		height: 16px;
	}
}

.expandIndicatorContainer {
	padding: 0.25rem;

	svg {
		width: 20px;
		height: 20px;
	}
}

.expandMoreButton {
	border: none;
	background: none;
}

.input {
	color: inherit;
	background: 0 center;
	opacity: 1;
	width: 100%;
	grid-area: 1 / 2 / auto / auto;
	font: inherit;
	min-width: 2px;
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
}

.placeholder {
	color: var(--lp-color-text-field-placeholder);
}

.inputContainer {
	margin: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
	visibility: visible;
	color: var(--lp-color-text-ui-primary-base);
	flex: 1 1 auto;
	display: inline-grid;
	grid-area: 1 / 1 / 2 / 3;
	grid-template-columns: 0 min-content;
	box-sizing: border-box;
}

.search {
	border-bottom: 1px solid var(--lp-color-border-ui-secondary);

	.searchIcon {
		position: absolute;
		top: 0.9375rem;
		left: 0.875rem;
	}

	input {
		width: 100%;
		border: none;
		font-size: 1rem;
		padding: 0.98438rem 1rem 0.98438rem 2.5rem;

		&:focus-visible {
			outline: none;
		}
	}
}
