:root,
[data-theme='default'] {
	--lp-component-filter-color-bg-clearable: rgb(0 0 0 / 0.15);
	--lp-component-filter-color-bg-clearable-focus: rgb(0 0 0 / 0.2);
	--lp-component-filter-color-border-clearable-focus: var(--lp-color-gray-800);
}

[data-theme='dark'] {
	--lp-component-filter-color-bg-clearable: rgb(248 248 248 / 0.15);
	--lp-component-filter-color-bg-clearable-focus: rgb(248 248 248 / 0.2);
	--lp-component-filter-color-border-clearable-focus: var(--lp-color-gray-500);
}

.filter {
	font-family: var(--lp-font-family-base);
}

.buttonContainer {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	position: relative;
}

.button {
	border-radius: var(--lp-border-radius-medium);
	padding-top: 0;
	padding-bottom: 0;
	line-height: 2rem;
	display: flex;
	align-items: center;
	margin: 0;
	color: var(--lp-color-text-ui-primary-base);
	background-color: var(--lp-color-bg-interactive-secondary-base);
}

.appliedButton {
	color: var(--lp-color-text-ui-primary-base);
	height: 1.25rem;
	background-color: var(--lp-color-bg-interactive-secondary-hover);
	padding: 0.125rem 0.375rem;
	border-radius: 0.125rem;
	display: flex;
}

.button,
.appliedButton {
	font-family: inherit;
	font-size: 0.8125rem;
	cursor: pointer;
	border-width: var(--lp-border-width-200);
	border-style: solid;
	border-color: transparent;

	&:hover {
		background-color: var(--lp-color-bg-interactive-secondary-hover);
		border-color: var(--lp-color-border-interactive-secondary-hover);
	}

	&:focus-visible {
		outline: none;
		border-color: var(--lp-color-border-interactive-secondary-focus);
		box-shadow:
			0 0 0 2px var(--lp-color-bg-ui-primary),
			0 0 0 4px var(--lp-color-shadow-interactive-focus);
	}
}

.name {
	margin-right: 0.3125rem;
	font-weight: var(--lp-font-weight-medium);
}

.appliedName {
	margin-right: 0.1875rem;
}

.description {
	color: var(--lp-color-text-ui-primary-base);
	font-weight: var(--lp-font-weight-medium);
}

.description,
.appliedDescription {
	margin-right: 0.3125rem;
	max-width: 10rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.clear {
	cursor: pointer;
	padding: 0.1875rem;
}

.button.isClearable {
	padding-right: 1.9375rem;
	background-color: var(--lp-component-filter-color-bg-clearable);

	&:focus,
	&:hover,
	&:active {
		background-color: var(--lp-component-filter-color-bg-clearable-focus);
		border-color: var(--lp-component-filter-color-border-clearable-focus);
	}
}

.button:hover:not(.isClearable),
.button:focus:not(.isClearable),
[data-state='open'] .button:not(.isClearable) {
	background-color: var(--lp-color-bg-interactive-secondary-hover);
	border-color: var(--lp-color-border-interactive-secondary-hover);
}

.button:focus:not(:focus-visible):not(.isClearable) {
	&:hover {
		background-color: var(--lp-color-bg-interactive-secondary-hover);
	}
}

.clearTooltip {
	line-height: 1;
	position: absolute;
	right: 0.4375rem;
}

.filterClearButton {
	text-decoration: none;
	color: var(--lp-color-text-interactive-destructive);
	font-size: 0.8125rem;
	font-weight: var(--lp-font-weight-medium);
	padding: 0.625rem;
	width: 100%;
	border-bottom: 1px solid var(--lp-color-border-interactive-secondary-base);
}

.filterClearButton:active,
.filterClearButton:focus,
.filterClearButton:hover {
	outline: none;
	box-shadow: unset;
	color: var(--lp-color-text-interactive-destructive);
}

.filterClearButton:active {
	border-bottom-color: var(--lp-color-border-interactive-secondary-active);
	background-color: var(--lp-color-bg-interactive-secondary-active);
}

.filterClearButton:focus {
	border-bottom-color: var(--lp-color-border-interactive-secondary-focus);
	background-color: var(--lp-color-bg-interactive-secondary-focus);
}

.filterClearButton:hover {
	border-bottom-color: var(--lp-color-border-interactive-secondary-hover);
	background-color: var(--lp-color-bg-interactive-secondary-hover);
}
