.filter {
  font-family: var(--lp-font-family-base);
}

.buttonContainer {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.button {
  border-radius: var(--lp-border-radius);
  padding-top: 0;
  padding-bottom: 0;
  line-height: 3.2rem;
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--lp-color-text-ui-primary);
  background-color: var(--lp-color-bg-interactive-secondary);
}

.appliedButton {
  color: var(--lp-color-text-ui-primary);
  height: 2rem;
  background-color: var(--lp-color-bg-interactive-secondary-hover);
  padding: 0.2rem 0.6rem;
  border-radius: 0.2rem;
  display: flex;
}

.button,
.appliedButton {
  font-family: inherit;
  font-size: 1.3rem;
  cursor: pointer;
  border-width: var(--lp-border-width-200);
  border-style: solid;
  border-color: var(--lp-color-border-interactive-secondary);

  &:hover {
    background-color: var(--lp-color-bg-interactive-secondary-hover);
    border-color: var(--lp-color-border-ui-primary);
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--lp-color-shadow-interactive-primary),
      0 0 0 4px var(--lp-color-shadow-interactive-focus);
    border-color: var(--lp-color-border-ui-primary);
    outline: none;
  }
}

.name {
  margin-right: 0.5rem;
  font-weight: var(--lp-font-weight-medium);
}

.appliedName {
  margin-right: 0.3rem;
}

.description {
  color: var(--lp-color-text-ui-primary);
  font-weight: var(--lp-font-weight-medium);
}

.description,
.appliedDescription {
  margin-right: 0.5rem;
  max-width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clear {
  cursor: pointer;
  padding: 0.3rem;
}

:global(.Filter-target--usage) {
  border: 1px solid var(--lp-color-gray-600);
}

.button.isClearable {
  background-color: var(--lp-color-blue-200);
  padding-right: 3.1rem;

  &:focus,
  &:hover,
  &:active {
    background-color: var(--lp-color-blue-300);
  }
}

.button.isClearable:focus:not(:focus-visible) {
  background-color: unset;

  &:hover {
    background-color: var(--lp-color-blue-300);
  }
}

.button:hover:not(.isClearable),
.button:focus:not(.isClearable),
[data-state='open'] .button:not(.isClearable) {
  background-color: var(--lp-color-bg-interactive-secondary-hover);
  border-color: var(--lp-color-border-interactive-secondary-hover);
}

.button:focus:not(:focus-visible):not(.isClearable) {
  &:hover {
    background-color: var(--lp-color-bg-interactive-secondary-hover);
  }
}

.clearTooltip {
  line-height: 1;
  position: absolute;
  right: 0.7rem;
}

.filterClearButton {
  text-decoration: none;
  color: var(--lp-color-text-interactive-destructive);
  font-size: 1.3rem;
  font-weight: var(--lp-font-weight-medium);
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--lp-color-border-ui-primary);
}

.filterClearButton:active,
.filterClearButton:focus,
.filterClearButton:hover {
  outline: none;
  box-shadow: unset;
  color: var(--lp-color-text-interactive-destructive);
  border-bottom-color: var(--lp-color-border-ui-primary);
  background-color: var(--lp-color-bg-interactive-secondary-hover);
}

:root[data-theme='dark'] {
  /* stylelint-disable-next-line no-descending-specificity */
  .button.isClearable {
    background-color: var(--lp-color-cyan-900);
    padding-right: 3.1rem;

    &:focus,
    &:hover,
    &:active {
      background-color: var(--lp-color-cyan-800);
    }
  }

  .button.isClearable:focus:not(:focus-visible) {
    background-color: unset;

    &:hover {
      background-color: var(--lp-color-cyan-900);
    }
  }
}
