.filter {
  font-family: var(--lp-font-family-base);
}

.buttonContainer {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.button {
  border-radius: var(--lp-border-radius);
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2rem;
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--lp-color-text);
  background-color: var(--lp-color-white);
}

.appliedButton {
  color: var(--lp-color-text);
  height: 1.25rem;
  background-color: var(--lp-color-gray-100);
  padding: 0.125rem 0.375rem;
  border-radius: 0.125rem;
  display: flex;
}

.button,
.appliedButton {
  font-family: inherit;
  font-size: 0.8125rem;
  cursor: pointer;
  border-width: var(--lp-border-width-200);
  border-style: solid;
  border-color: var(--lp-color-white);

  &:hover {
    background-color: var(--lp-color-background-hover);
    border-color: var(--lp-color-border);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--lp-color-white), 0 0 0 4px var(--lp-color-focus);
    border-color: var(--lp-color-border);
    outline: none;
  }

  &:focus:not(:focus-visible) {
    box-shadow: unset;
    border-color: var(--lp-color-white);
  }
}

.name {
  margin-right: 0.3125rem;
  font-weight: var(--lp-font-weight-medium);
}

.appliedName {
  margin-right: 0.1875rem;
}

.description {
  color: var(--lp-color-text);
  font-weight: var(--lp-font-weight-medium);
}

.description,
.appliedDescription {
  margin-right: 0.3125rem;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clear {
  cursor: pointer;
  padding: 0.1875rem;
}

:global(.Filter-target--usage) {
  border: 1px solid var(--lp-color-text-subtle-secondary);
}

.button.isClearable {
  background-color: var(--lp-color-blue-200);
  padding-right: 1.9375rem;

  &:focus,
  &:hover,
  &:active {
    background-color: var(--lp-color-blue-300);
  }
}

.button.isClearable:focus:not(:focus-visible) {
  background-color: unset;

  &:hover {
    background-color: var(--lp-color-blue-300);
  }
}

.button:hover:not(.isClearable),
.button:focus:not(.isClearable),
[data-state='open'] .button:not(.isClearable) {
  background-color: var(--lp-color-background-hover);
  border-color: var(--lp-color-text-subtle-secondary);
}

.button:focus:not(:focus-visible):not(.isClearable) {
  &:hover {
    background-color: var(--lp-color-background-hover);
  }
}

.clearTooltip {
  line-height: 1;
  position: absolute;
  right: 0.4375rem;
}

.filterClearButton {
  text-decoration: none;
  color: var(--lp-color-system-red-600);
  font-size: 0.8125rem;
  font-weight: var(--lp-font-weight-medium);
  padding: 0.625rem;
  width: 100%;
  border-bottom: 1px solid var(--lp-color-border);
}

.filterClearButton:active,
.filterClearButton:focus,
.filterClearButton:hover {
  outline: none;
  box-shadow: unset;
  color: var(--lp-color-system-red-600);
  border-bottom-color: var(--lp-color-border);
  background-color: var(--lp-color-background-hover);
}
