:root,
[data-theme='default'] {
  --lp-component-form-color-text-label-disabled: var(--lp-color-gray-800);
}

[data-theme='dark'] {
  --lp-component-form-color-text-label-disabled: var(--lp-color-gray-400);
}

.formGroup {
  margin: 2rem 0;
  padding: 0;
  border: none;
}

/* The margin for .formGroup and the min-height of .form-fieldError
  should be equal to avoid content shift when errors are shown */
.formIncreasedErrorMargin .formGroup {
  margin: 2.8rem 0;
}

.formInline .formGroup {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.form .formGroup:first-child {
  margin-top: 0;
}

.form .formGroup:last-child {
  margin-bottom: 0;
}

.formInput {
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 1.3rem;
  font-family: var(--lp-font-family-base);
  line-height: var(--lp-line-height-300);
  background-color: var(--lp-color-bg-field);
  color: var(--lp-color-text-ui-primary);
  border: 1px solid var(--lp-color-border-field);
  border-radius: var(--lp-border-radius-regular);
  transition: all var(--lp-duration-100) linear;
  height: 3.2rem;
}

.formInput:placeholder-shown {
  overflow: hidden;
  text-overflow: ellipsis;
}

.formInput.isFocused,
.formInput:focus {
  outline: 0;
  border-color: var(--lp-color-border-field-focus);
  box-shadow: 0 0 0 3px hsl(231.5 100% 62.5% / 0.1);
}

select.formInput {
  appearance: none;
  background: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41 8.84L12 13.42l4.59-4.58L18 10.25l-6 6-6-6 1.41-1.41z" fill="%23646f7a"/></svg>');
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: right 0.4em top 50%, 0 0;
  padding-right: 2rem;
}

.iconField .formInput {
  padding-left: 3rem;
}

.suffixContainer .formInput {
  border: none;
  border-radius: var(--lp-border-radius-regular) 0 0 var(--lp-border-radius-regular);
}

.isInvalid .formInput,
.form .isInvalid :global(.Select-control),
.form .isInvalid :global(.CustomSelect) > div,
.form .isInvalid .formInput {
  border-color: var(--lp-color-border-field-error);
}

.suffixContainer .formInput:focus {
  box-shadow: none;
}

.inlineForm .formGroup + .formGroup,
.inlineForm .formGroup + :global(.Button) {
  margin-left: 1rem;
}

.label {
  font-size: 1.3rem;
  font-family: var(--lp-font-family-base);
  word-break: break-word;
}

.labelDisabled {
  color: var(--lp-component-form-color-text-label-disabled);
}

.labelOptional {
  margin-left: 0.4em;
  color: var(--lp-color-text-ui-secondary);
  fill: var(--lp-color-text-ui-secondary);
}

.compactTextField .label {
  position: absolute;
  top: -2px;
  left: 10px;
  padding: 0 3px;
  color: var(--lp-color-text-ui-primary);
  opacity: 0;
  pointer-events: none;
  background-color: var(--lp-color-bg-ui-primary);
  transform-origin: 0 0; /* preserve left alignment after scaling */
  transition: all var(--lp-duration-100) ease-in-out;
  z-index: 1; /* Fixes layout issue in Firefox */
}

.formGroup .label {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.formGroup .label + .label {
  margin-top: 0.5rem;
}

.fieldError {
  color: var(--lp-color-text-feedback-error);
  font-size: 1.3rem;
}

/* The margin for .formGroup and the min-height of .form-fieldError
  should be equal to avoid content shift when errors are shown */
.formIncreasedErrorMargin .fieldError {
  min-height: 2.8rem;
}

.label .fieldError {
  float: right;
}

.form:not(.inlineForm) .fieldError {
  display: block;
  padding-top: 0.5rem;
  text-align: left;
}

.formIncreasedErrorMargin:not(.inlineForm) .fieldError {
  padding-top: 0.1rem;
  padding-bottom: 0.5rem;
}

.form .isInvalid .label {
  color: var(--lp-color-text-feedback-error);
}

.formInput::placeholder {
  color: var(--lp-color-text-field-placeholder);
}

.formIncreasedErrorMargin .formGroup.isInvalid {
  margin-bottom: 0;
}

.formIncreasedErrorMargin .formGroup.isInvalid + .formGroup {
  margin-top: 0;
}

.hint {
  display: block;
  margin-top: 0.3rem;
  font-size: 1.3rem;
  font-weight: var(--lp-font-weight-regular);
  color: var(--lp-color-text-ui-secondary);
}

.field .hint {
  margin: 0;
  font-size: 1.3rem;
  color: var(--lp-color-text-ui-secondary);
  fill: var(--lp-color-text-ui-secondary);
}

.form .field label,
.form .field .isInvalid label {
  color: var(--lp-color-text-ui-primary);
}

.fieldErrorMessage {
  color: var(--lp-color-text-feedback-error);
  font-size: 1.3rem;
}

.field.formGroup {
  margin: 1rem 0;
}

.field.formGroup:first-child {
  margin-top: 0;
}

.formInput.isDisabled,
input.formInput:disabled,
select.formInput:disabled,
input.formInput:read-only {
  opacity: 1;
  background-color: var(--lp-color-bg-field-disabled);
  color: var(--lp-color-text-field-disabled);
  border-color: var(--lp-color-border-field-disabled);
}

.formInput.isDisabled:hover,
.formInput:disabled:hover {
  cursor: not-allowed;
}

textarea.formInput {
  min-height: 2.5em;
  height: auto;
  resize: none;
}

textarea.formInput:disabled,
textarea.formInput:read-only {
  opacity: 1;
  color: var(--lp-color-text-field-disabled);
  background-color: var(--lp-color-bg-field-disabled);
  border-color: var(--lp-color-border-field-disabled);
}

input.formInput::-webkit-autofill {
  box-shadow: 0 0 0 50px var(--lp-color-bg-field) inset;
}

/* Hide the type=search cancel button in Webkit for consistency */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* Hide the type=search cancel button in IE for consistency */
input[type='text']::-ms-clear,
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='checkbox']:disabled {
  pointer-events: none;
}

.formInput[readonly],
.formInput[readonly]:focus {
  color: var(--lp-color-text-ui-secondary);
  border-color: var(--lp-color-gray-500);
  box-shadow: none;
}

.checkbox {
  align-self: flex-start; /* Default for .label is center, but this looks bad on multi-line checkbox labels */
  flex-shrink: 0; /* Make sure the input itself doesn't shrink in flex layouts */
  margin-right: 0.5rem;
  margin-top: 0.4rem;
}

.radio {
  margin-right: 0.5rem;
}

.number {
  min-width: 4.5rem;
}

.suffixContainer {
  display: inline-flex;
  border: 1px solid var(--lp-color-border-field);
  border-radius: var(--lp-border-radius-regular);
  overflow: hidden;
  transition: all 0.1s linear;
}

.suffixContainer:focus-within {
  border-color: var(--lp-color-border-field-focus);
  box-shadow: 0 0 0 3px hsl(231.5 100% 62.5% / 0.1);
}

.suffixContainer .suffix {
  padding: 0 2px;
  background-color: var(--lp-color-bg-field-aside);
  color: var(--lp-color-text-ui-secondary);
  cursor: text;
  display: inline-flex;
  align-items: center;
  position: initial;
}

.suffix::-webkit-outer-spin-button,
.suffix::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
.suffix[type='number'] {
  appearance: textfield;
}

.iconFieldIcon {
  position: absolute;
  fill: var(--lp-color-fill-field);
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.formInputTiny {
  padding: 0.1rem 0.6rem;
  height: 2.4rem;
}

.iconField {
  position: relative;
}

.requiredAsterisk {
  color: var(--lp-color-text-feedback-error);
}

.fieldSet {
  border: none;
  margin: 2rem 0;
  padding: 0;
}

.compactTextField {
  position: relative;
  width: 100%;
}

.compactTextField.isActive .label {
  border-radius: var(--lp-border-radius-regular);
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, -8px) scale(0.9); /* 2d transform to avoid webkit blurry text */
}
