/* stylelint-disable no-descending-specificity */

.FormInput {
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 1.3rem;
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  background-color: var(--color-background-field);
  color: var(--color-text);
  border: 1px solid var(--color-gray-500);
  border-radius: var(--border-radius);
  transition: all 100ms linear;
}

.FormInput:placeholder-shown {
  overflow: hidden;
  text-overflow: ellipsis;
}

input.FormInput,
select.FormInput {
  height: 3.2rem;
}

.FormInput.is-disabled,
input.FormInput:disabled,
select.FormInput:disabled,
input.FormInput:read-only {
  background-color: var(--color-white-100);
}

.FormInput.is-disabled:hover,
.FormInput:disabled:hover {
  cursor: not-allowed;
}

textarea.FormInput {
  min-height: 2.5em;
  resize: none;
}

textarea.FormInput:disabled,
textarea.FormInput:read-only {
  background-color: var(--color-white-100);
}

input.FormInput::-webkit-autofill {
  box-shadow: 0 0 0 50px var(--color-background-field) inset;
}

/* Hide the type=search cancel button in Webkit for consistency */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* Hide the type=search cancel button in IE for consistency */
input[type='text']::-ms-clear,
input[type='text']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='checkbox']:disabled {
  pointer-events: none;
}

input.FormInput--tiny {
  padding: 0.1rem 0.6rem;
  height: 2.4rem;
}

.FormInput.is-focused,
.FormInput:focus {
  outline: 0;
  border-color: var(--color-focus);
  box-shadow: 0 0 0 3px hsl(231.5 100% 62.5% / 0.1);
}

.FormInput[readonly],
.FormInput[readonly]:focus {
  color: var(--color-text-subtle-primary);
  border-color: var(--color-gray-500);
  box-shadow: none;
}

.Form-checkbox {
  align-self: flex-start; /* Default for .Form-label is center, but this looks bad on multi-line checkbox labels */
  flex-shrink: 0; /* Make sure the input itself doesn't shrink in flex layouts */
  margin-right: 0.5rem;
  margin-top: 0.4rem;
}

.Form-radio {
  margin-right: 0.5rem;
}

.FormInput-select {
  appearance: none;
  background: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41 8.84L12 13.42l4.59-4.58L18 10.25l-6 6-6-6 1.41-1.41z" fill="%23646f7a"/></svg>');
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: right 0.4em top 50%, 0 0;
  padding-right: 2rem;
}

.FormInput-number {
  min-width: 4.5rem;
}

.FormInput-suffixContainer {
  display: inline-flex;
  border: 1px solid var(--color-gray-500);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: all 0.1s linear;
}

.FormInput-suffixContainer:focus-within {
  border-color: var(--color-focus);
  box-shadow: 0 0 0 3px hsl(231.5 100% 62.5% / 0.1);
}

.FormInput-suffixContainer .FormInput {
  border: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.FormInput-suffixContainer .FormInput:focus {
  box-shadow: none;
}

.FormInput-suffixContainer label.FormInput-suffix {
  padding: 0 2px;
  background-color: var(--color-gray-100);
  color: var(--color-gray-500);
  cursor: text;
  display: inline-flex;
  align-items: center;
  position: initial;
}

input.FormInput-suffix::-webkit-outer-spin-button,
input.FormInput-suffix::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input.FormInput-suffix[type='number'] {
  appearance: textfield;
}

/* stylelint-enable no-descending-specificity */
