.IconField {
  position: relative;
}

.IconField .FormInput {
  padding-left: 3rem;
}

.FormInput ~ .IconField-icon {
  position: absolute;
  fill: var(--color-gray-600);
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}
