.focus {
	outline: none;

	&[data-focus-visible] {
		outline: 2px solid var(--lp-color-shadow-interactive-focus);
		outline-offset: -2px;
		z-index: 1;
	}
}

.buttonGroup {
	&[data-orientation='horizontal'] {
		& :first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		& :last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		& :not(:first-child) {
			margin-inline-start: -1px;
		}

		& :not(:first-child):not(:last-child) {
			border-radius: 0;
		}
	}

	&[data-orientation='vertical'] {
		& :first-child {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		& :last-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		& :not(:first-child):not([role='separator']) {
			margin-block-start: -1px;
		}

		& :not(:first-child):not(:last-child) {
			border-radius: 0;
		}
	}
}

.interactive {
	cursor: pointer;

	&[data-disabled] {
		cursor: not-allowed;
	}
}

.field {
	&:is(input, textarea) {
		cursor: text;
	}

	&[data-disabled] {
		cursor: not-allowed;
	}
}

.selectable {
	&[data-selection-mode] {
		cursor: pointer;
	}

	&[data-disabled][data-selection-mode] {
		cursor: not-allowed;
	}
}

:global([data-lp][aria-disabled='true']) {
	opacity: 0.64;
	cursor: default;
}

.picker {
	composes: interactive;
	display: flex;
	align-items: center;
	gap: var(--lp-spacing-300);
	width: 100%;

	&[data-disabled] {
		opacity: 1;
	}

	&[data-pressed],
	&[data-focus-visible],
	&[data-hovered] {
		background-color: var(--lp-color-bg-field-base);
	}
}

.invalid {
	border-color: var(--lp-color-border-field-error);
}
