.base {
	font: var(--lp-text-label-1-medium);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: var(--lp-spacing-200);
	margin: 0;
	text-decoration: none;
	appearance: none;
	cursor: pointer;
	border-radius: var(--lp-border-radius-medium);
	border-style: solid;
	border-width: 1px;
	outline: none;
	white-space: nowrap;
}

.base[data-focus-visible] {
	outline: 2px solid var(--lp-color-shadow-interactive-focus);
	outline-offset: -2px;
	z-index: 2;
}

.base[data-disabled] {
	background: transparent none repeat 0 0 / auto auto padding-box border-box scroll;
	background: initial;
	background-color: var(--lp-color-bg-interactive-disabled);
	border-color: var(--lp-color-border-interactive-disabled);
	color: var(--lp-color-text-interactive-disabled);
	cursor: not-allowed;
}

.small {
	font: var(--lp-text-label-2-medium);
	padding: 1px var(--lp-spacing-300);
}

.medium {
	padding: 3px var(--lp-spacing-300);
}

.large {
	font-size: var(--lp-font-size-300);
	line-height: var(--lp-line-height-300);
	padding: 7px var(--lp-spacing-400);
}

.default {
	background-color: var(--lp-color-bg-interactive-secondary-base);
	border-color: var(--lp-color-border-interactive-secondary-base);
	color: var(--lp-color-text-ui-primary-base);
}

.default[data-hovered] {
	background-color: var(--lp-color-bg-interactive-secondary-hover);
}

.default[data-pressed] {
	background-color: var(--lp-color-bg-interactive-secondary-active);
}

.default[data-focus-visible] {
	background-color: var(--lp-color-bg-interactive-secondary-focus);
}

.primary {
	background-color: var(--lp-color-bg-interactive-primary-base);
	border-color: var(--lp-color-border-interactive-primary-base);
	color: var(--lp-color-text-interactive-primary-base);
	z-index: 1;
}

.primary[data-hovered] {
	background-color: var(--lp-color-bg-interactive-primary-hover);
	border-color: var(--lp-color-border-interactive-primary-hover);
	color: var(--lp-color-text-interactive-primary-hover);
}

.primary[data-pressed] {
	background-color: var(--lp-color-bg-interactive-primary-active);
	border-color: var(--lp-color-border-interactive-primary-active);
	color: var(--lp-color-text-interactive-primary-base);
}

.primary[data-focus-visible] {
	background-color: var(--lp-color-bg-interactive-primary-focus);
	border-color: var(--lp-color-border-interactive-primary-focus);
	box-shadow: inset 0 0 0 3px var(--lp-color-shadow-interactive-primary);
}

.destructive {
	background-color: var(--lp-color-bg-interactive-destructive-base);
	border-color: var(--lp-color-border-interactive-destructive);
	color: var(--lp-color-text-interactive-destructive);
}

.destructive[data-hovered] {
	background-color: var(--lp-color-bg-interactive-destructive-hover);
}

.destructive[data-pressed] {
	background-color: var(--lp-color-bg-interactive-destructive-active);
}

.destructive[data-focus-visible] {
	background-color: var(--lp-color-bg-interactive-destructive-focus);
	box-shadow: inset 0 0 0 3px var(--lp-color-shadow-interactive-primary);
}

.minimal {
	background-color: var(--lp-color-bg-interactive-tertiary-base);
	border-color: transparent;
	color: var(--lp-color-text-ui-primary-base);
}

.minimal[data-hovered] {
	background-color: var(--lp-color-bg-interactive-tertiary-hover);
}

.minimal[data-pressed] {
	background-color: var(--lp-color-bg-interactive-tertiary-active);
}

.minimal[data-focus-visible] {
	background-color: var(--lp-color-bg-interactive-tertiary-focus);
}

.minimal[data-disabled] {
	background-color: var(--lp-color-bg-interactive-tertiary-base);
}

.primaryFlair {
	background: linear-gradient(124deg, #a34fde 0%, #405bff 98.05%);
	border-color: var(--lp-color-border-interactive-primary-flair-base);
	color: var(--lp-color-text-interactive-primary-base);
}

.primaryFlair[data-hovered] {
	background: linear-gradient(124deg, #9655c3 0%, #4b5fdd 98.05%);
	border-color: var(--lp-color-border-interactive-primary-flair-hover);
}

.primaryFlair[data-pressed] {
	background: linear-gradient(124deg, #8741b9 0%, #3b50ce 98.05%);
	border-color: var(--lp-color-border-interactive-primary-flair-active);
}

.primaryFlair[data-focus-visible] {
	background: linear-gradient(124deg, #8741b9 0%, #3b50ce 98.05%);
	border-color: var(--lp-color-border-interactive-primary-flair-focus);
	box-shadow: inset 0 0 0 3px var(--lp-color-shadow-interactive-primary);
}

.defaultFlair {
	background-color: var(--lp-color-bg-interactive-secondary-flair-base);
	border-color: var(--lp-color-border-interactive-secondary-flair-base);
	color: var(--lp-color-text-interactive-flair-base);
}

.defaultFlair[data-hovered] {
	background-color: var(--lp-color-bg-interactive-secondary-flair-hover);
	border-color: var(--lp-color-border-interactive-secondary-flair-hover);
	color: var(--lp-color-text-interactive-flair-hover);
}

.defaultFlair[data-pressed] {
	background-color: var(--lp-color-bg-interactive-secondary-flair-active);
	border-color: var(--lp-color-border-interactive-secondary-flair-active);
	color: var(--lp-color-text-interactive-flair-active);
}

.defaultFlair[data-focus-visible] {
	background-color: var(--lp-color-bg-interactive-secondary-flair-focus);
	border-color: var(--lp-color-border-interactive-secondary-flair-focus);
	color: var(--lp-color-text-interactive-flair-focus);
	box-shadow: inset 0 0 0 3px var(--lp-color-shadow-interactive-primary);
}

.minimalFlair {
	background-color: var(--lp-color-bg-interactive-tertiary-flair-base);
	border-color: transparent;
	color: var(--lp-color-text-interactive-flair-base);
}

.minimalFlair[data-hovered] {
	background-color: var(--lp-color-bg-interactive-tertiary-flair-hover);
	color: var(--lp-color-text-interactive-flair-hover);
}

.minimalFlair[data-pressed] {
	background-color: var(--lp-color-bg-interactive-tertiary-flair-active);
	color: var(--lp-color-text-interactive-flair-active);
}

.minimalFlair[data-focus-visible] {
	background-color: var(--lp-color-bg-interactive-tertiary-flair-focus);
	color: var(--lp-color-text-interactive-flair-focus);
	box-shadow: inset 0 0 0 3px var(--lp-color-shadow-interactive-primary);
}

.select {
	display: flex;
	align-items: center;
	gap: var(--lp-spacing-300);
	width: 100%;
}

.invalid {
	border-color: var(--lp-color-border-field-error);
}

.base[data-selected] {
	background-color: var(--lp-color-bg-interactive-selected);
	border-color: var(--lp-color-border-interactive-selected);
	color: var(--lp-color-text-interactive-base);
	z-index: 1;
}

.base[data-pending] {
	& [data-icon] {
		opacity: 50%;
	}
}

.pending {
	opacity: 50%;
}
