.calendar {
  width: fit-content;
  max-width: 100%;

  & table {
    border-collapse: collapse;
  }

  & header {
    display: flex;
    align-items: center;
    margin-bottom: var(--lp-spacing-500);

    & h2 {
      font: var(--lp-heading-1-semibold);
      flex: 1;
      text-align: center;
    }
  }

  & th {
    font: var(--lp-label-2-medium);
  }

  & [slot='errorMessage'] {
    color: var(--lp-color-text-feedback-error);
    font: var(--lp-body-2-regular);
  }
}

.cell {
  padding: var(--lp-spacing-300);
  cursor: default;
  outline: none;
  border: none;
  width: 100%;

  &[data-outside-month] {
    display: none;
  }

  &[data-disabled] {
    background-color: transparent;
  }

  &[data-invalid] {
    background-color: var(--lp-color-bg-feedback-error);
  }
}

.range {
  & td {
    padding: 2px 0;
  }

  & .cell {
    &[data-selected] {
      border-radius: 0;
    }

    &[data-selection-start] {
      border-start-start-radius: var(--lp-border-radius-large);
      border-end-start-radius: var(--lp-border-radius-large);
    }
  
    &[data-selection-end] {
      border-start-end-radius: var(--lp-border-radius-large);
      border-end-end-radius: var(--lp-border-radius-large);
    }
  }
}