.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--lp-size-16);
  height: var(--lp-size-16);
  border-radius: 2px;
  border: var(--lp-border-width-200) solid var(--lp-color-border-field-base);
  background: var(--lp-color-bg-field-base);
  transition:
    all var(--lp-duration-100) ease-in-out,
    outline,
    outline-offset 0ms;
}

.icon {
  fill: var(--lp-color-text-interactive-primary-base);
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--lp-spacing-200);
  font: var(--lp-label-1-regular);

  &[data-focus-visible] {
    & .box {
      outline: 2px solid var(--lp-color-shadow-interactive-focus);
      outline-offset: 2px;
      z-index: 1;
    }
  }

  &[data-selected],
  &[data-indeterminate] {
    & .box {
      background-color: var(--lp-color-bg-interactive-primary-base);
      border-color: var(--lp-color-border-interactive-primary-base);
    }
  }

  &[data-disabled] {
    color: var(--lp-color-text-field-disabled);

    & .box {
      background-color: var(--lp-color-bg-field-disabled);
      border-color: var(--lp-color-bg-field-disabled);

      & .icon {
        fill: var(--lp-color-text-field-disabled);
      }
    }
  }

  &[data-invalid] {
    & .box {
      border-color: var(--lp-color-border-field-error);
    }

    &[data-selected],
    &[data-indeterminate] {
      & .box {
        background-color: var(--lp-color-bg-field-error);
      }
    }
  }
}
