.box {
	composes: menu from './Menu.module.css';
}

.item {
	composes: item from './Menu.module.css';
	align-items: start;

	& > [data-icon] {
		align-self: center;
	}

	& .checkbox {
		height: 1lh;
		align-items: center;
	}
}

.content {
	composes: content from './Menu.module.css';
}
