.box {
  composes: menu from './Menu.module.css';
  padding: var(--lp-spacing-200);

  & section:not(:first-child) {
    margin-top: var(--lp-spacing-300);
  }
}

.item {
  composes: item from './Menu.module.css';
}
