@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.base {
  display: inline-block;
  transform-origin: 0 0;
}

.outerCircle {
  stroke: var(--lp-color-white-100);
}

.innerCircle {
  stroke: var(--lp-color-gray-500);
}

.small {
  transform: scale(0.25);
}

.medium {
  transform: scale(0.375);
}

.large {
  transform: scale(0.5);
}

.indeterminate {
  animation-name: spin;
  animation-duration: var(--lp-duration-350);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
