.group {
  display: flex;
  flex-direction: column;
  gap: var(--lp-spacing-200);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--lp-spacing-200);
}

.tag {
  font: var(--lp-small-1-regular);
  display: flex;
  gap: var(--lp-spacing-200);
  align-items: center;
  color: var(--lp-color-text-ui-secondary);
  padding: var(--lp-spacing-100) var(--lp-spacing-200);
  border-radius: var(--lp-border-radius-regular);
  background-color: var(--lp-color-bg-ui-secondary);
  border: 1px solid var(--lp-color-border-interactive-secondary-base);
  outline: none;

  &[data-focus-visible] {
    outline: 2px solid var(--lp-color-shadow-interactive-focus);
    outline-offset: 2px;
    z-index: 1;
  }

  &[data-selected] {
    background-color: var(--lp-color-bg-ui-primary);
    border-color: var(--lp-color-border-interactive-secondary-active);
  }

  &[data-disabled] {
    border-color: var(--lp-color-border-interactive-disabled);
    color: var(--lp-color-text-interactive-disabled);
  }
}
