@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

.region {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--lp-spacing-600);
  outline: none;
  margin-bottom: var(--lp-spacing-900);
}

.toast {
  display: flex;
  align-items: center;
  gap: var(--lp-spacing-300);
  background: var(--lp-color-bg-feedback-primary);
  color: var(--lp-color-white-950);
  padding: var(--lp-spacing-300) var(--lp-spacing-500);
  border-radius: var(--lp-border-radius-regular);
  box-shadow: 0 0 1px 0 rgb(0 0 0 / 0.25), 0 1px 2px 0 rgb(0 0 0 / 0.14), 0 4px 4px 0 rgb(0 0 0 / 0.06);

  @media (prefers-reduced-motion: no-preference) {
    &[data-animation="entering"] {
      animation-name: slide-in;
      animation-duration: var(--lp-duration-200);
      animation-timing-function: ease-in;
    }
    
    &[data-animation="queued"] {
      animation-name: fade-in;
      animation-duration: var(--lp-duration-300);
      animation-timing-function: ease-in;
    }
    
    &[data-animation="exiting"] {
      animation-name: fade-out;
      animation-duration: var(--lp-duration-300);
      animation-timing-function: ease-in;
    }
  }
}

.status{}

.info {
  fill: var(--lp-color-cyan-400);
}

.error {
  fill: var(--lp-color-pink-500);
}

.warning {
  fill: var(--lp-color-yellow-500);
}

.success {
  fill: var(--lp-color-system-green-500);
}