.base {
	display: flex;
	flex-wrap: wrap;
	width: fit-content;

	&[data-orientation='horizontal'] {
		flex-direction: row;
	}

	&[data-orientation='vertical'] {
		flex-direction: column;
		align-items: start;
	}

	& [role='group'] {
		display: contents;
	}
}

.basic {
	gap: var(--lp-spacing-400);
}

.compact {
	composes: buttonGroup from './base.module.css';
	gap: initial;
}

.large {
	gap: var(--lp-spacing-600);
}
