:root,
[data-theme='default'] {
  --lp-tooltip-color-text: var(--lp-color-text-overlay-secondary);
}

[data-theme='dark'] {
  --lp-tooltip-color-text: var(--lp-color-text-ui-primary-base);
}

@keyframes slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.tooltip {
  --lp-tooltip-offset: var(--lp-size-4);

  isolation: isolate;
  z-index: var(--lp-z-index-800);
  font: var(--lp-body-2-regular);
  padding: var(--lp-spacing-300) var(--lp-spacing-400);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--lp-spacing-200);
  border-radius: var(--lp-border-radius-regular);
  border: 1px solid var(--lp-color-border-overlay-secondary);
  background-color: var(--lp-color-bg-overlay-secondary);
  box-shadow: var(--lp-component-popover-shadow);
  color: var(--lp-tooltip-color-text);
  transform: translate3d(0, 0, 0);
  will-change: transform, opacity;

  &[data-placement='top'] {
    --origin: translateY(4px);

    margin-bottom: var(--lp-tooltip-offset);
  }

  &[data-placement='bottom'] {
    --origin: translateY(-4px);

    margin-top: var(--lp-tooltip-offset);
  }

  &[data-placement='right'] {
    --origin: translateX(-4px);

    margin-left: var(--lp-tooltip-offset);
  }

  &[data-placement='left'] {
    --origin: translateX(4px);

    margin-right: var(--lp-tooltip-offset);
  }

  @media (prefers-reduced-motion: no-preference) {
    &[data-entering] {
      animation-name: slide;
      animation-duration: 200ms;
      animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    }
  }

  & kbd {
    color: var(--lp-color-gray-100);
    background-color: var(--lp-color-gray-900);
    border: 1px solid var(--lp-color-gray-700);
    box-shadow: inset 0 -1px 0 var(--lp-color-gray-700);
  }
}
