node_modules/
dist/
storybook-static/
build/
public/build/
coverage
test-results/
blob-report/
playwright-report/

.eslintcache
.cache
.env
.DS_Store
*.log
.nyc_output
.idea
.nx/cache
.nx/workspace-data
*.vsix