@import '../../../tokens/dist/media-queries.css';

:root {
  --page-gutter-width: 0.625rem;
}

@media (--tablet) {
  :root {
    --page-gutter-width: 2.5rem;
  }
}

.Navigation .Nav--primary {
  padding: 0 1.5625rem;
  background-color: var(--lp-color-background);
  box-shadow: 0 1px 2px hsl(0 0% 0% / 0.12);
  overflow-x: auto;
}

.Navigation--collapsed {
  background-color: #fff;
  box-shadow: 0 1px 2px hsl(0 0% 0% / 0.12);
  padding: 0.625rem var(--page-gutter-width);
}

.Navigation--collapsed .NavigationList-wrapper {
  padding: 1 0.875rem;
}

.Nav {
  max-width: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.Nav--secondary {
  border-bottom: 1px solid var(--lp-color-border);
}

.Nav--primary > .NavPopover-target {
  display: flex;
}

.NavItem {
  justify-content: flex-end;
}

.Nav--primary .NavItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9375rem;
  font-weight: var(--lp-font-weight-medium);
  padding: 0.625rem 0.875rem;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: var(--lp-color-text-subtle-primary);
  position: relative;
}

/* This pseudo-element renders the item name in bold to avoid shifting the other items
 * when the font weight changes (for .is-active).
 */
.Nav--primary .NavItem::after {
  font-weight: var(--lp-font-weight-bold);
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  padding: 0.0625rem 0.625rem 0.125rem;
}

.Nav--primary .NavItem.is-active {
  color: var(--lp-color-text);
  border-bottom-color: var(--lp-color-text);
  font-weight: var(--lp-font-weight-bold);
}

.NavItem-name {
  padding: 0.0625rem 0.625rem 0.125rem;
  text-align: center;
  white-space: nowrap;
}

.NavItem:focus {
  border-radius: 0;
  box-shadow: none;
}

.Nav--secondary .NavItem {
  display: block;
  font-size: 1.0625rem;
  font-weight: var(--lp-font-weight-medium);
  padding: 0.625rem 0.875rem 0;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  color: var(--lp-color-text-subtle-secondary);
  position: relative;
}

.Nav--primary .NavItem:focus {
  outline: none;
}

.NavItem:focus .NavItem-name {
  padding: 0.0625rem 0.625rem 0.125rem;
  box-shadow: 0 0 0 0.125rem var(--lp-color-blue-500);
  border-radius: 0.375rem;
}

.Nav--primary .NavItem:hover {
  color: var(--lp-color-text);
}

.Nav--primary a.NavItem:hover,
.Nav--primary a.NavItem:active {
  color: var(--lp-color-text);
  text-decoration: none;
}

.Nav--primary .NavItem:focus:not(:focus-visible) {
  outline: unset;
}

.NavItem:focus:not(:focus-visible) .NavItem-name {
  box-shadow: unset;
  border-radius: unset;
}

.Nav--secondary .Nav-items {
  gap: 0.625rem;
}

@media (--tablet) {
  .Nav--secondary .Nav-items {
    gap: 0;
  }
}

.Nav--secondary .NavItem.is-active {
  color: var(--lp-color-text);
  border-bottom: 0.1875rem solid var(--lp-color-gray-700);
  margin-bottom: -0.1rem; /* slightly larger than half to account for browser rounding */
}

.Nav--secondary .NavItem.is-active::before,
.Nav--secondary .NavItem.is-active::after {
  content: '';
  position: absolute;
  left: 50%;
}

.Nav--secondary .NavItem.is-active::after {
  border-bottom-color: var(--lp-color-gray-700);
  bottom: -2px;
}

.NavItem-chip {
  align-self: flex-start;
  border-radius: 0.25rem;
  margin-top: 0.25rem;
  min-width: 2.1875rem;
  padding: 0.0625rem 0;
}

.NavItem-tooltip {
  text-align: center;
}
