@import '../../../tokens/dist/media-queries.css';

:root {
  --page-gutter-width: 1rem;
}

@media (--tablet) {
  :root {
    --page-gutter-width: 4rem;
  }
}

.Navigation .Nav--primary {
  padding: 0 2.5rem;
  background-color: var(--lp-color-bg-ui-secondary);
  box-shadow: 0 1px 2px hsl(0 0% 0% / 0.12);

  /**
   * The Navigation collapses at the point where horizontal scroll begins, so
   * we hide the scroll-bar to avoid it flickering in and then disappearing
   */
  overflow-x: hidden;
}

.Navigation--collapsed {
  background-color: #fff;
  box-shadow: 0 1px 2px hsl(0 0% 0% / 0.12);

  /**
   * In a collapsed state, we need to take up the same vertical space to avoid
   * shifting the page layout.
   */
  padding: 1rem var(--page-gutter-width) calc(1rem - 1.5px);
}

.Navigation--collapsed select {
  width: auto;
  padding-right: 2.5rem;
}

.Navigation--collapsed .NavigationList-wrapper {
  padding: 1 1.4rem;
}

.Nav {
  max-width: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.Nav--secondary {
  border-bottom: 1px solid var(--lp-color-border-ui-secondary);
}

.Nav--primary > .NavPopover-target {
  display: flex;
}

.NavItem {
  justify-content: flex-end;
}

.Nav--primary .NavItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: var(--lp-font-weight-medium);
  padding: 1rem 1.4rem;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: var(--lp-color-text-interactive-secondary);
  position: relative;
  border-radius: 0;
}

/* This pseudo-element renders the item name in bold to avoid shifting the other items
 * when the font weight changes (for .is-active).
 */
.Nav--primary .NavItem::after {
  font-weight: var(--lp-font-weight-bold);
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  padding: 0.1rem 1rem 0.2rem;
}

.Nav--primary .NavItem.is-active {
  color: var(--lp-color-text-ui-primary);
  border-bottom-color: var(--lp-color-text-ui-primary);
  font-weight: var(--lp-font-weight-bold);
}

.NavItem-name {
  padding: 0.1rem 1rem 0.2rem;
  text-align: center;
  white-space: nowrap;
}

.NavItem:focus {
  border-radius: 0;
  box-shadow: none;
}

.Nav--secondary .NavItem {
  display: block;
  font-size: 1.7rem;
  font-weight: var(--lp-font-weight-medium);
  padding: 1rem 1.4rem 0;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  color: var(--lp-color-text-ui-secondary);
  position: relative;
  border-radius: 0;
}

.Nav--primary .NavItem:focus {
  outline: none;
}

.NavItem:focus .NavItem-name {
  padding: 0.1rem 1rem 0.2rem;
  box-shadow: 0 0 0 0.2rem var(--lp-color-blue-500);
  border-radius: 0.6rem;
}

.Nav--primary .NavItem:hover {
  color: var(--lp-color-text-ui-primary);
}

.Nav--primary a.NavItem:hover,
.Nav--primary a.NavItem:active {
  color: var(--lp-color-text-ui-primary);
  text-decoration: none;
}

.Nav--primary .NavItem:focus:not(:focus-visible) {
  outline: unset;
}

.NavItem:focus:not(:focus-visible) .NavItem-name {
  box-shadow: unset;
  border-radius: unset;
}

.Nav--secondary .Nav-items {
  gap: 1rem;
}

@media (--tablet) {
  .Nav--secondary .Nav-items {
    gap: 0;
  }
}

.Nav--secondary .NavItem.is-active {
  color: var(--lp-color-text-ui-primary);
  border-bottom: 0.3rem solid var(--lp-color-border-interactive-secondary-active);
  margin-bottom: -0.16rem; /* slightly larger than half to account for browser rounding */
}

.Nav--secondary .NavItem.is-active::before,
.Nav--secondary .NavItem.is-active::after {
  content: '';
  position: absolute;
  left: 50%;
}

.Nav--secondary .NavItem.is-active::after {
  border-bottom-color: var(--lp-color-border-interactive-secondary-active);
  bottom: -2px;
}

.NavItem-chip {
  align-self: flex-start;
  border-radius: 0.4rem;
  margin-top: 0.4rem;
  min-width: 3.5rem;
  padding: 0.1rem 0;
}

.NavItem-tooltip {
  text-align: center;
}
