@import '../../../tokens/dist/media-queries.css';

:root {
  --page-gutter-width: 1rem;
}

@media (--tablet) {
  :root {
    --page-gutter-width: 4rem;
  }
}

.Navigation .Nav--primary {
  padding: 0 2.5rem;

  /**
   * The Navigation collapses at the point where horizontal scroll begins, so
   * we hide the scroll-bar to avoid it flickering in and then disappearing
   */
  overflow-x: hidden;
}

.Navigation--collapsed {
  /**
   * In a collapsed state, we need to take up the same vertical space to avoid
   * shifting the page layout.
   */
  padding: 1rem var(--page-gutter-width) 0.85rem;
}

.Navigation--collapsed .NavigationList-wrapper {
  padding: 1 1.4rem;
}

.Nav {
  max-width: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.Nav--secondary::after {
  content: '';
  position: absolute;
  height: 0.1rem;
  width: 100%;
  left: 0;
  bottom: 0.2rem;
  background-color: var(--lp-color-border-ui-secondary);
}

.Nav--primary > .NavPopover-target {
  display: flex;
}

.NavItem {
  justify-content: flex-end;
}

.Nav--primary .NavItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: var(--lp-font-weight-medium);
  padding: 0 1.2rem;
  text-decoration: none;
  color: var(--lp-color-text-interactive-secondary);
  position: relative;
  border-radius: 0;
}

/* This pseudo-element renders the item name in bold to avoid shifting the other items
 * when the font weight changes (for .is-active).
 */
.Nav--primary .NavItem::after {
  font-weight: var(--lp-font-weight-bold);
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  padding: 0 0.4rem;
}

.Nav--primary .NavItem.is-active {
  color: var(--lp-color-text-ui-primary);
  font-weight: var(--lp-font-weight-bold);
}

.NavItem-name {
  display: flex;
  text-align: center;
  white-space: nowrap;
  border-bottom: 2px solid transparent;
}

.Nav--primary .NavItem-name {
  padding: 1.3rem 0.4rem;
}

.Nav--secondary .NavItem-name {
  padding: 0 0.4rem;
  border-bottom-width: 0.3rem;
}

.NavItem.is-active .NavItem-name {
  border-bottom-color: var(--lp-color-text-ui-primary);
}

.NavItem:focus {
  border-radius: 0;
  box-shadow: none;
}

.Nav--secondary .NavItem {
  display: block;
  font-size: 1.7rem;
  font-weight: var(--lp-font-weight-medium);
  padding: 1rem 1.2rem 0.1rem;
  text-decoration: none;
  color: var(--lp-color-text-ui-secondary);
  position: relative;
  z-index: 1;
  border-radius: 0;
}

.Nav--primary .NavItem:focus {
  outline: none;
}

.NavItem:focus .NavItem-name {
  box-shadow: 0 0 0 0.2rem var(--lp-color-blue-500);
  border-radius: 0.6rem;
}

.Nav--primary .NavItem:focus .NavItem-name {
  padding: 1.3rem 0.4rem;
}

.Nav--primary .NavItem:hover {
  color: var(--lp-color-text-ui-primary);
}

.Nav--primary a.NavItem:hover,
.Nav--primary a.NavItem:active {
  color: var(--lp-color-text-ui-primary);
  text-decoration: none;
}

.Nav--primary .NavItem:focus:not(:focus-visible) {
  outline: unset;
}

.NavItem:focus:not(:focus-visible) .NavItem-name {
  box-shadow: unset;
  border-radius: unset;
}

.Nav--secondary .Nav-items {
  gap: 1rem;
}

@media (--tablet) {
  .Nav--secondary .Nav-items {
    gap: 0;
  }
}

.Nav--secondary .NavItem.is-active {
  color: var(--lp-color-text-ui-primary);
}

.Nav--secondary .NavItem.is-active .NavItem-name {
  border-color: var(--lp-color-border-interactive-secondary-active);
}

.NavItem-chip {
  align-self: center;
  border-radius: 0.4rem;
  margin: 0 0 0 0.8rem;
  min-width: 3.5rem;
  padding: 0.1rem 0;
}

.NavItem-tooltip {
  text-align: center;
}

.NavigationMenuItem > span:first-child {
  line-height: 1;
}

.TabList-list {
  display: flex;
  flex-direction: row;
  background-color: var(--lp-color-bg-ui-primary);
  border-bottom: 1px solid var(--lp-color-border-ui-primary);
}

.TabList-item {
  display: block;
  padding: 0.6rem 1rem;
  font-size: 1.3rem;
  font-weight: var(--lp-font-weight-medium);
  text-decoration: none;
  color: var(--lp-color-text-interactive-secondary);
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.TabList-item:focus {
  outline: none;
  background-color: var(--lp-color-bg-interactive-secondary-hover);
  color: var(--lp-color-text-ui-primary);
}

.TabList-item:hover {
  outline: none;
  background-color: var(--lp-color-bg-interactive-secondary-hover);
  color: var(--lp-color-text-ui-primary);
}

.TabList-item.is-active {
  color: var(--lp-color-text-ui-primary);
}

.TabList-item.is-active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  background-color: var(--lp-color-border-interactive-focus);
  height: 2px;
}

.TabList-item[aria-disabled],
.TabList-item[aria-disabled]:hover,
.TabList-item[aria-disabled]:active {
  cursor: not-allowed;
  background-color: var(--lp-color-bg-ui-primary);
  color: var(--lp-color-text-interactive-disabled);
}

.TabList-panel {
  display: block;
}
