.hideRadio {
  opacity: 0;
  position: absolute;
}

.featureCard {
  cursor: pointer;
  align-items: center;
  flex: 1;
  height: 16rem;
  border: var(--lp-border-width-200) solid var(--lp-color-border-ui-primary);
  border-radius: var(--lp-border-radius-medium);
  padding: var(--lp-spacing-500);
  background-color: var(--lp-color-bg-ui-primary);
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 0.06);
  color: inherit;
}

.featureCard:hover {
  background-color: var(--lp-color-bg-interactive-secondary-hover);
  box-shadow:
    0 0 1px rgb(0 0 0 / 0.25),
    0 1px 2px rgb(0 0 0 / 0.14),
    0 8px 16px rgb(0 0 0 / 0.15);
}

input[type='radio']:checked + .featureCard {
  background-color: var(--lp-color-bg-feedback-info);
  border-color: var(--lp-color-border-interactive-primary-active);
}

input[type='radio']:focus + .featureCard {
  box-shadow:
    0 0 0 1px var(--lp-color-gray-600),
    0 0 0 2px #fff,
    0 0 0 4px #405bff,
    0 3.6237px 0 rgb(0 0 0 / 0.25),
    0 4px 4px rgb(0 0 0 / 0.25);
}

.labelContainer {
  display: flex;
  align-items: center;

  img {
    margin-right: var(--lp-spacing-600);
  }
}

.textContainer {
  font-size: var(--lp-font-size-300);
  font-weight: 600;
}

.subtext {
  color: var(--lp-color-text-ui-secondary);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-weight: var(--lp-font-weight-regular);
  font-size: var(--lp-font-size-100);
  margin-top: var(--lp-spacing-200);
  line-height: var(--lp-line-height-300);
}

.disabledCard {
  pointer-events: none;
  cursor: not-allowed;
  border-radius: var(--radius-medium, 6px);
  border: var(--lp-border-width-200) solid var(--color-border-interactive-disabled, #e6e6e6);
  background-color: var(--lp-color-bg-ui-primary);
  height: 6rem;
}

.hide {
  display: none;
}
