.Snackbar {
  background-color: var(--lp-color-bg-feedback-primary);
  color: var(--lp-color-white);
  padding: var(--lp-spacing-500);
  display: inline-flex;
  gap: 1.4rem;
  box-sizing: border-box;
  width: 37.6rem;
  border-radius: 2px;
}

.Snackbar .Snackbar-icon {
  transform: translateY(2px);
  top: auto;
}

.Snackbar--error {
  & .Snackbar-icon {
    fill: var(--lp-color-pink-500);
  }
}

.Snackbar--info .Snackbar-icon {
  fill: var(--lp-color-cyan-500);
}

.Snackbar--warning {
  & .Snackbar-icon {
    fill: var(--lp-color-yellow-500);
  }
}

.Snackbar-heading {
  margin-top: 0;
  margin-bottom: var(--lp-spacing-200);
  font-size: 1.6rem;
  font-weight: var(--lp-font-weight-medium);
  line-height: 1.5;
  color: var(--lp-color-white);
}

.Snackbar-content {
  flex-grow: 1;

  & .Snackbar-description,
  & a {
    font-size: var(--lp-font-size-200);
    font-weight: var(--lp-font-weight-regular);
    line-height: 1.5;
  }

  & a,
  & a:hover {
    color: var(--lp-color-cyan-500);
  }

  & .Snackbar-description {
    word-break: break-word;
  }
}

.Snackbar-close:global(.Button):global(.Button--close) svg {
  fill: var(--lp-color-gray-400);
}
