.ToastCenter {
  position: fixed;
  inset: auto auto 4.53125rem 50%;
  transform: translateX(-50%);
  z-index: var(--lp-z-index-700);
}

.ToastCenter-item {
  text-align: center;
}

.ToastCenter-item:not(:first-child) {
  margin-top: 1.25rem;
}
