.Toast {
	background-color: var(--lp-color-bg-feedback-primary);
	color: var(--lp-color-white-950);
	padding: var(--lp-spacing-300) var(--lp-spacing-500);
	display: inline-flex;
	gap: var(--lp-spacing-300);
	box-sizing: border-box;
	width: auto;
	border-radius: 3px;
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 0.06), 0 1px 2px 0 rgb(0 0 0 / 0.14), 0 0 1px 0
		rgb(0 0 0 / 0.25);
}

.Toast .Toast-icon {
	transform: translateY(2px);
}

.Toast--error .Toast-icon {
	fill: var(--lp-color-pink-500);
}

.Toast--warning .Toast-icon {
	fill: var(--lp-color-yellow-500);
}

.Toast--success .Toast-icon {
	fill: var(--lp-color-system-green-500);
}

.Toast--info {
	/* no styles */
}

.Toast-content {
	flex-grow: 1;
	margin: 0;
	line-height: 1.5;
	font-size: 1rem;

	& a,
	& a:hover {
		color: var(--lp-color-cyan-400);
	}
}
