.Toast {
  background-color: var(--color-gray-800);
  color: var(--color-text-inverse);
  padding: var(--spacing-2) var(--spacing-4);
  display: inline-flex;
  gap: var(--spacing-2);
  box-sizing: border-box;
  width: auto;
  border-radius: 3px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 0.06), 0 1px 2px 0 rgb(0 0 0 / 0.14),
    0 0 1px 0 rgb(0 0 0 / 0.25);
}

.Toast--error .Toast-icon :global(.Icon) svg {
  fill: var(--color-pink-500);
}

.Toast--warning .Toast-icon :global(.Icon) svg {
  fill: var(--color-yellow-500);
}

.Toast--success .Toast-icon :global(.Icon) svg {
  fill: var(--color-system-green-500);
}

.Toast--info {
  /* no styles */
}

.Toast-content {
  flex-grow: 1;
  margin: 0;
  line-height: 1.5;
  font-size: 1.6rem;
}
