:root {
  --NotificationCenter-z-index: 10001;
  --NotificationCenter-max-width: 70ch;
  --NotificationCenter-min-width: 45ch;
}

.NotificationCenter {
  max-width: var(--NotificationCenter-max-width);
  min-width: var(--NotificationCenter-min-width);
  position: fixed;
  top: 0.625rem;
  right: 1.25rem;
  bottom: auto;
  left: auto;
  z-index: var(--NotificationCenter-z-index);
}

.NotificationCenter .NotificationContainer + .NotificationContainer {
  margin-top: 5px;
}
