/* IMPORTANT: all rems are based on a 10px system */
:root {
  --reskin-text-color: hsl(240 2.2% 35.3%);
  --Notification-icon-color-info: var(--reskin-info-blue-base);
  --Notification-icon-color-success: var(--reskin-success-green-base);
  --Notification-icon-color-warning: var(--reskin-warn-gold-base);
  --Notification-icon-color-error: var(--reskin-error-red-base);
  --reskin-success-green-safe: hsl(142.4 71.8% 29.2%);
  --reskin-success-green-light: var(--lp-color-system-green-200);
  --reskin-success-green-base: var(--lp-color-system-green-700);
  --reskin-info-blue-safe: hsl(207.2 86% 39.2%);
  --reskin-info-blue-light: var(--lp-color-blue-200);
  --reskin-info-blue-base: var(--lp-color-blue-700);
  --reskin-warn-gold-safe: hsl(42.9 100% 29.6%);
  --reskin-warn-gold-light: var(--lp-color-system-yellow-200);
  --reskin-warn-gold-base: var(--lp-color-system-yellow-700);
  --reskin-error-red-safe: hsl(0 100% 41.6%);
  --reskin-error-red-light: var(--lp-color-system-red-200);
  --reskin-error-red-base: var(--lp-color-system-red-700);
  --Notification-box-shadow-0x2y-blur8-sp2-4prc-black: 0 2px 8px -2px hsl(0 0% 0% / 0.04);
  --Notification-box-shadow-0x2y-blur4-sp2-8prc-black: 0 2px 4px 2px hsl(0 0% 0% / 0.08);
  --Notification-box-shadow-0x1y-blur2-sp2-8prc-black: 0 1px 2px 2px hsl(0 0% 0% / 0.08);
  --Notification-box-shadow-hover: var(--Notification-box-shadow-0x2y-blur8-sp2-4prc-black),
    var(--Notification-box-shadow-0x2y-blur4-sp2-8prc-black),
    var(--Notification-box-shadow-0x1y-blur2-sp2-8prc-black);

  /* TODO: name better, improve a11y support — convert to rem once we migrate */
  --box-shadow-0x2y-blur8-sp1-4prc-black: 0 8px 2px -1px hsl(0 0% 12.9% / 0.04);
  --box-shadow-0x2y-blur4-sp0-8prc-black: 0 2px 4px 0 hsl(0 0% 12.9% / 0.08);
  --box-shadow-0x1y-blur2-sp0-14prc-black: 0 1px 2px 0 hsl(0 0% 12.9% / 0.14);
  --reskin-box-shadow-triple: var(--box-shadow-0x2y-blur8-sp1-4prc-black),
    var(--box-shadow-0x2y-blur4-sp0-8prc-black), var(--box-shadow-0x1y-blur2-sp0-14prc-black);
  --Notification-border-radius: 6px;
  --Notification-color-background-info: var(--reskin-info-blue-light);
  --Notification-color-background-success: var(--reskin-success-green-light);
  --Notification-color-background-warning: var(--reskin-warn-gold-light);
  --Notification-color-background-error: var(--reskin-error-red-light);
  --Notification-color-border-info: var(--reskin-info-blue-base);
  --Notification-color-border-success: var(--reskin-success-green-base);
  --Notification-color-border-warning: var(--reskin-warn-gold-base);
  --Notification-color-border-error: var(--reskin-error-red-base);
  --Notification-color-text: var(--lp-color-text-feedback-primary);
  --Notification-detailsExpand-color-text: var(--lp-color-gray-800);
  --Notification-detailsExpand-color-text-active: var(--lp-color-black-200);
}

/* ------- TODO: make component tokens when design done ------- */
.Notification {
  display: flex;
  position: relative;
  min-height: 4.4rem;
  font-size: var(--lp-font-size-300);
  font-weight: var(--lp-font-weight-medium);
  line-height: var(--lp-line-height-200);
  white-space: normal;
  background-color: var(--lp-color-white);
  color: var(--Notification-color-text);
  border: 0.0625em solid var(--lp-color-white);
  border-radius: var(--Notification-border-radius);
  box-shadow: var(--reskin-box-shadow-triple);
  box-sizing: border-box;
  padding: 1rem 1.2rem;

  & .Notification-body {
    margin: 0 1.2rem 0 0.8rem;
    flex-grow: 1;
  }
}

.Notification-closeIcon {
  margin-top: 0.1rem;
}

.Notification-icon {
  line-height: 1.25;
  width: 2.4rem;
  height: 2.4rem;
}

.Notification-detailsExpand {
  display: flex;
  align-items: center;
  min-width: 9rem;
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: left;
  color: var(--Notification-detailsExpand-color-text);
  background-color: transparent;
  border: hsl(0 0% 0% / 0);
  border-radius: var(--lp-border-radius);

  &:focus {
    outline: none;
  }

  &:active {
    color: var(--Notification-detailsExpand-color-text-active);
    box-shadow: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  & .Notification-detailsExpandIcon {
    fill: var(--lp-color-gray-700);
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
  }
}

/* Many of the icons have positioning overrides happening
in the Icon component style.css file. This temporary fix
will zero out that positioning adjustment for now */
.Notification--info {
  border: 0.0625em solid var(--Notification-color-border-info);
  background-color: var(--Notification-color-background-info);

  & .Notification-icon {
    fill: var(--Notification-icon-color-info);
    top: 0;
  }
}

.Notification--warning {
  border: 0.0625em solid var(--Notification-color-border-warning);
  background-color: var(--Notification-color-background-warning);

  & .Notification-icon {
    fill: var(--Notification-icon-color-warning);
    line-height: 1;
  }
}

/* Adjust typographical rhythm to offset --line-height-small */
.Notification-message {
  position: relative;
  top: 0.15rem;
}

.Notification-message a {
  color: var(--Notification-color-text);

  &:hover {
    text-decoration: none;
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0 0 0 1px hsl(0 0% 9.8% / 0.7), 0 0 0 4px hsl(0 0% 9.8% / 0.1);
  }

  &:active {
    color: var(--lp-color-text-ui-primary);
    box-shadow: none;
    text-decoration: underline;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }
}

.Notification--success {
  border: 0.0625em solid var(--Notification-color-border-success);
  background-color: var(--Notification-color-background-success);

  & .Notification-icon > svg {
    fill: var(--Notification-icon-color-success);
  }
}

/* targeting icon path element until we standardize icon fills */
.Notification--error {
  border: 0.0625em solid var(--Notification-color-border-error);
  background-color: var(--Notification-color-background-error);

  & .Notification-icon > svg > path {
    fill: var(--Notification-icon-color-error);
  }
}

.Notification-details {
  color: var(--lp-color-text-feedback-primary);
  font-size: var(--lp-font-size-200);
  font-weight: var(--lp-font-weight-regular);
  line-height: 18px;
  height: 18px;
  margin-top: 1rem;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &.is-expanded {
    height: auto;
    overflow: visible;
  }
}

/* ask Alexis why this is hidden */
.Notification-details.is-expanded .Notification-detailsExpand {
  display: none;
}

.Notification-detailsContent {
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: auto;
  padding: 0 0 1rem;

  /* detail content has little structure, but generally, it'll consist
  of short paragraphs or lists */
  & li + li,
  & p + p {
    margin-top: 5px;
  }
}
