.storygroup-wrapper > * {
  margin: auto 0;
}
.storygroup-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 8rem auto;
  grid-gap: 1.2rem;
  justify-items: flex-start;
}
.button-state-label {
  text-align: right;
  font-weight: bold;
}
