.CopyToClipboard {
  position: relative;
}

.u-fs-sm .CopyToClipboard {
  font-size: 1.3rem;
}

.CopyToClipboard:focus-visible {
  outline-color: var(--color-background-hover);
}

.Clipboard-checkmark svg {
  fill: var(--color-system-green-500);
}

.Clipboard-confirmation {
  align-items: center;
}

.Clipboard-copied {
  margin-left: 0.5rem;
}

.CopyToClipboard:hover code {
  background-color: var(--color-background-hover);
}
