.CopyToClipboard {
  position: relative;
}

.u-fs-sm .CopyToClipboard {
  font-size: 1.3rem;
}

.CopyToClipboard:focus-visible {
  outline-color: var(--color-background-hover);
}

.Clipboard-checkmark svg {
  fill: var(--color-system-green-500);
}

.Clipboard-confirmation {
  align-items: center;
}

.Clipboard-copied {
  margin-left: 0.5rem;
}

.CopyToClipboard-trigger:hover {
  cursor: pointer;
}

.CopyToClipboard-trigger:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-focus);
}
