.CopyCodeButton {
  border-radius: 20px;
  font-family: var(--lp-font-family-monospace);
  font-size: 87.5%;
  text-align: left;
  margin: 0;
  background-color: var(--lp-color-gray-100);
  padding: 0.4rem 0.8rem;
  border: none;
  cursor: pointer;
  color: var(--lp-color-text-ui-primary);
}

.CopyCodeButton:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--lp-color-shadow-interactive-primary),
    0 0 0 4px var(--lp-color-shadow-interactive-focus);
}

.CopyCodeButton:focus-visible {
  outline-color: var(--lp-color-bg-interactive-secondary-hover);
}

:root[data-theme='dark'] .CopyCodeButton {
  background-color: var(--lp-color-gray-800);
}
