.CopyToClipboard {
	position: relative;
}

.Clipboard-checkmark {
	fill: var(--lp-color-fill-feedback-success);
}

.Clipboard-confirmation {
	align-items: center;
}

.Clipboard-copied {
	margin-left: 0.3125rem;
}
