:root,
[data-theme='default'] {
  --lp-component-copy-color-bg-default: var(--lp-color-bg-interactive-secondary);
}

[data-theme='dark'] {
  --lp-component-copy-color-bg-default: transparent;
}

.CopyCodeButton {
  background-color: var(--lp-component-copy-color-bg-default);
  border-radius: 20px;
  font-family: var(--lp-font-family-monospace);
  font-size: 87.5%;
  text-align: left;
  margin: 0;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  color: var(--lp-color-text-ui-primary);
  border: 1px solid var(--lp-color-border-interactive-secondary);

  &.minimal {
    border: 1px solid transparent;
  }

  &.basic,
  &.minimal {
    padding: 0.4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: var(--lp-color-text-interactive-secondary);

    svg {
      fill: var(--lp-color-border-interactive-secondary);
    }

    &:hover,
    &:focus {
      &:not(.basic) {
        border: 1px solid var(--lp-color-border-interactive-secondary);
      }

      color: var(--lp-color-text-ui-primary);

      svg {
        fill: var(--lp-color-text-ui-primary);
      }
    }

    &:hover:not(:focus) {
      box-shadow: none;
    }
  }
}

.CopyCodeButton:hover {
  box-shadow: 0 2px 8px -1px hsl(0 0% 0% / 0.04), 0 2px 4px 0 hsl(0 0% 0% / 0.08),
    0 1px 2px 0 hsl(0 0% 0% / 0.14);
  background-color: var(--lp-color-bg-interactive-secondary-hover);
  color: var(--lp-color-text-ui-primary);
}

.CopyCodeButton:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--lp-color-bg-ui-primary),
    0 0 0 4px var(--lp-color-shadow-interactive-focus);
  background-color: var(--lp-color-bg-interactive-secondary-focus);
}

.CopyCodeButton:focus-visible {
  outline-color: var(--lp-color-bg-interactive-secondary-hover);
  background-color: var(--lp-color-bg-interactive-secondary-focus);
}

.CopyCodeButton:active {
  background-color: var(--lp-color-bg-interactive-secondary-active);
  color: var(--lp-color-text-ui-primary);
}

.CopyCodeButton--icon {
  padding: 0;
  line-height: 1;
  height: 1.5rem;
  width: 1.7rem;
  min-height: auto;
  margin-left: 0.65rem;
  flex-shrink: 0;
  top: -1px;
}
