.CopyCodeButton {
  border-radius: 20px;
  font-family: var(--lp-font-family-monospace);
  font-size: 87.5%;
  margin: 0;
  background-color: var(--lp-color-gray-100);
  padding: 0.4rem 0.8rem;
  border: none;
  cursor: pointer;
}

.CopyCodeButton:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--lp-color-white), 0 0 0 4px var(--lp-color-blue-700);
}

.CopyCodeButton:focus-visible {
  outline-color: var(--lp-color-background-hover);
}
