.CopyToClipboard {
  position: relative;
}

.Clipboard-checkmark svg {
  fill: var(--color-system-green-500);
}

.Clipboard-confirmation {
  align-items: center;
}

.Clipboard-copied {
  margin-left: 0.5rem;
}
