version: 2.1

orbs:
  dependency-scan: launchdarkly/dependency-scan-orb@1.2.0

workflows:
  dependency_license_check:
    jobs:
      - dependency-scan/generate-node-sbom
      - dependency-scan/get-license-policy
      - dependency-scan/evaluate-policy:
          bom_file: "node-bom.json"
          requires:
            - dependency-scan/generate-node-sbom
            - dependency-scan/get-license-policy
