.Avatar {
  background-color: var(--color-background);
  border: 1px solid var(--color-gray-100);
  border-radius: 100%;
  display: inline-block;
  flex-shrink: 0;
  vertical-align: middle;
  max-width: unset;
  overflow: hidden;
  color: var(--color-black);
}

.Avatar-initials {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-bold);
}

.Avatar-initials--color0 {
  background-color: var(--color-yellow-500);
}

.Avatar-initials--color1 {
  background-color: var(--color-blue-500);
  color: var(--color-gray-100);
}

.Avatar-initials--color2 {
  background-color: var(--color-pink-500);
}

.Avatar-initials--color3 {
  background-color: var(--color-cyan-500);
}

.Avatar-initials--color4 {
  background-color: var(--color-purple-500);
  color: var(--color-gray-100);
}

.Avatar-initials-content {
  line-height: 1;
  position: relative;
}

.Avatar--tiny {
  height: 1rem;
  width: 1rem;

  & .Avatar-initials-content {
    font-size: 0.5rem;
  }
}

.Avatar--small {
  height: 1.6rem;
  width: 1.6rem;

  & .Avatar-initials-content {
    font-size: 0.8rem;
  }
}

.Avatar--medium {
  height: 2.4rem;
  width: 2.4rem;

  & .Avatar-initials-content {
    font-size: 1.1rem;
  }
}

.Avatar--large {
  height: 4rem;
  width: 4rem;

  & .Avatar-initials-content {
    font-size: 2rem;
  }
}
