.Avatar {
  background-color: var(--lp-color-bg-ui-primary);
  border: 1px solid var(--lp-color-border-ui-primary);
  border-radius: 100%;
  flex-shrink: 0;
  max-width: unset;
  overflow: hidden;
  color: var(--lp-color-text-ui-primary);
  display: inline-flex;
  vertical-align: top;
  justify-content: center;
  align-items: center;
  font-weight: var(--lp-font-weight-bold);
}

.Avatar--initials {
  border: none;
  color: var(--lp-color-white);
}

.Avatar--color0 {
  background-color: var(--lp-color-yellow-800);
}

.Avatar--color1 {
  background-color: var(--lp-color-blue-500);
}

.Avatar--color2 {
  background-color: var(--lp-color-pink-500);
}

.Avatar--color3 {
  background-color: var(--lp-color-cyan-600);
}

.Avatar--color4 {
  background-color: var(--lp-color-purple-500);
}

.Avatar-initials-content {
  line-height: 1;
  position: relative;
}

.Avatar.Avatar--tiny {
  height: 1rem;
  width: 1rem;
  font-size: 0.5rem;
}

.Avatar.Avatar--small {
  height: 1.6rem;
  width: 1.6rem;
  font-size: 0.8rem;
}

.Avatar.Avatar--medium {
  height: 2.4rem;
  width: 2.4rem;
  font-size: 1.1rem;
}

.Avatar.Avatar--large {
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}
