.Avatar {
	background-color: var(--lp-color-bg-ui-primary);
	border: 1px solid var(--lp-color-border-ui-primary);
	border-radius: 100%;
	flex-shrink: 0;
	max-width: unset;
	overflow: hidden;
	color: var(--lp-color-text-ui-primary-base);
	display: inline-flex;
	vertical-align: top;
	justify-content: center;
	align-items: center;
	font-weight: var(--lp-font-weight-bold);
}

.Avatar--initials {
	border: none;
	color: var(--lp-color-white-950);
}

.Avatar--color0 {
	background-color: var(--lp-color-brand-yellow-dark);
}

.Avatar--color1 {
	background-color: var(--lp-color-blue-600);
}

.Avatar--color2 {
	background-color: var(--lp-color-brand-pink-base);
}

.Avatar--color3 {
	background-color: var(--lp-color-brand-cyan-base);
}

.Avatar--color4 {
	background-color: var(--lp-color-purple-600);
}

.Avatar-initials-content {
	line-height: 1;
	position: relative;
}

.Avatar.Avatar--tiny {
	height: 0.625rem;
	width: 0.625rem;
	font-size: 0.3125rem;
}

.Avatar.Avatar--small {
	height: 1rem;
	width: 1rem;
	font-size: 0.5rem;
}

.Avatar.Avatar--medium {
	height: 1.5rem;
	width: 1.5rem;
	font-size: 0.6875rem;
}

.Avatar.Avatar--large {
	height: 2.5rem;
	width: 2.5rem;
	font-size: 1.25rem;
}
