@keyframes indeterminate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.Progress {
  display: inline-block;
  vertical-align: middle;
  transform: rotate(-90deg);
}

.Progress--indeterminate {
  animation: indeterminate var(--lp-duration-350) linear infinite;
}

.Progress-track {
  fill: none;
  stroke: var(--lp-color-gray-50);
}

.Progress-head {
  transition: stroke-dashoffset var(--lp-duration-350);
  fill: none;
  stroke: var(--lp-color-gray-500);
}
