.base {
	display: inline-block;
	vertical-align: middle;
	flex: none;
}

.default {
	fill: currentcolor;
}

.subtle {
	fill: var(--lp-color-fill-ui-secondary);
}

.small {
	width: var(--lp-size-16);
	height: var(--lp-size-16);
}

.medium {
	width: var(--lp-size-20);
	height: var(--lp-size-20);
}

.large {
	width: var(--lp-size-40);
	height: var(--lp-size-40);
}
