.icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  flex: none;
  fill: currentcolor;
}

.subtle {
  fill: var(--color-gray-600);
}

.small {
  width: 1.6rem;
  height: 1.6rem;
}

.tiny {
  width: 1rem;
  height: 1rem;
}

.micro {
  width: 0.7rem;
  height: 0.7rem;
}

.medium {
  width: 2rem;
  height: 2rem;
}

.mlarge {
  width: 3rem;
  height: 3rem;
}

.large {
  width: 4rem;
  height: 4rem;
}

.xlarge {
  width: 6rem;
  height: 6rem;
}

.huge {
  width: 10rem;
  height: 10rem;
}

.icon svg {
  width: 100%;
  height: 100%;
  display: block;
}
