:root {
  --Chip-alpha-info-color: var(--lp-color-blue-200);
  --Chip-alpha-info-text-color: var(--lp-color-blue-500);
  --Chip-alpha-warning-color: var(--lp-color-system-yellow-200);
  --Chip-alpha-warning-text-color: var(--lp-color-system-yellow-900);
  --Chip-alpha-error-color: var(--lp-color-system-red-600);
  --Chip-alpha-success-color: var(--lp-color-system-green-200);
  --Chip-alpha-success-text-color: var(--lp-color-system-green-900);
  --Chip-alpha-inactive-color: var(--lp-color-gray-100);
  --Chip-alpha-inactive-text-color: var(--lp-color-gray-800);
  --Chip-alpha-label-color: var(--lp-color-white-100);
  --Chip-alpha-border-color: var(--lp-color-gray-600);
  --Chip-alpha-beta-color: var(--lp-color-purple-600);
  --Chip-alpha-federal-color: var(--lp-color-yellow-500);
  --Chip-alpha-default-color: var(--lp-color-gray-800);
  --Chip-alpha-default-background-color: var(--lp-color-white-100);
  --Chip-alpha-border-radius: 0.2rem;
  --Chip-alpha-hover-background-color: var(--lp-color-gray-100);
}

:root[data-theme='dark'] {
  --Chip-alpha-info-color: #212647;
  --Chip-alpha-info-text-color: var(--lp-color-blue-300);
  --Chip-alpha-warning-color: #3c351f;
  --Chip-alpha-warning-text-color: var(--lp-color-system-yellow-500);
  --Chip-alpha-error-color: var(--lp-color-pink-500);
  --Chip-alpha-success-color: #143929;
  --Chip-alpha-success-text-color: var(--lp-color-system-green-500);
  --Chip-alpha-inactive-color: var(--lp-color-black-100);
  --Chip-alpha-inactive-text-color: var(--lp-color-gray-100);
  --Chip-alpha-label-color: var(--lp-color-gray-800);
  --Chip-alpha-beta-color: var(--lp-color-purple-800);
  --Chip-alpha-federal-color: var(--lp-color-yellow-500);
  --Chip-alpha-border-color: var(--lp-color-gray-500);
  --Chip-alpha-default-color: var(--lp-color-gray-100);
  --Chip-alpha-default-background-color: var(--lp-color-black-100);
  --Chip-alpha-hover-background-color: var(--lp-color-gray-800);
  --Chip-alpha-border-radius: 0.2rem;
}

.Chip {
  display: inline-block;
  font-weight: var(--lp-font-weight-semibold);
  font-size: 1.1rem;
  line-height: 1.2;
  border: 1px solid var(--Chip-alpha-border-color);
  border-radius: var(--Chip-alpha-border-radius);
  vertical-align: bottom;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.Chip--normal {
  font-size: 1.1rem;
  line-height: 1.4;
  padding: 0.3em;
}

.Chip--large {
  font-size: 1.3rem;
  line-height: 1.6;
  padding: 0.5em;
}

.Chip--subtle {
  background: var(--lp-color-bg-ui-primary);
}

.Chip--default {
  color: var(--Chip-alpha-default-color);
  background-color: var(--Chip-alpha-default-background-color);
}

.Chip--info {
  border-color: var(--Chip-alpha-info-text-color);
  color: var(--Chip-alpha-info-text-color);
}

.Chip--info:not(.Chip--subtle) {
  background-color: var(--Chip-alpha-info-color);
  border-color: var(--Chip-alpha-info-color);
  color: var(--Chip-alpha-info-text-color);
}

.Chip--new {
  border-color: var(--Chip-alpha-success-color);
  color: var(--Chip-alpha-success-color);
}

.Chip--new:not(.Chip--subtle) {
  background-color: var(--Chip-alpha-success-color);
  color: var(--lp-color-white);
}

.Chip--beta {
  border-color: var(--Chip-alpha-beta-color);
  color: var(--Chip-alpha-beta-color);
}

.Chip--beta:not(.Chip--subtle) {
  background-color: var(--Chip-alpha-beta-color);
  color: var(--lp-color-white);
}

.Chip--success {
  border-color: var(--Chip-alpha-success-text-color);
  color: var(--Chip-alpha-success-text-color);
}

.Chip--success:not(.Chip--subtle) {
  background-color: var(--Chip-alpha-success-color);
  border-color: transparent;
  color: var(--Chip-alpha-success-text-color);
}

.Chip--warning {
  border-color: var(--Chip-alpha-warning-text-color);
  color: var(--Chip-alpha-warning-text-color);
}

.Chip--warning:not(.Chip--subtle) {
  background-color: var(--Chip-alpha-warning-color);
  border-color: var(--Chip-alpha-warning-color);
  color: var(--Chip-alpha-warning-text-color);
}

.Chip--error {
  border-color: var(--Chip-alpha-error-color);
  color: var(--Chip-alpha-error-color);
}

.Chip--error:not(.Chip--subtle) {
  background-color: var(--Chip-alpha-error-color);
  color: var(--lp-color-text-feedback);
}

.Chip--inactive {
  border-color: var(--Chip-alpha-inactive-color);
  color: var(--Chip-alpha-inactive-color);
}

.Chip--inactive:not(.Chip--subtle) {
  background-color: var(--Chip-alpha-inactive-color);
  color: var(--Chip-alpha-inactive-text-color);
  border: 1px var(--Chip-alpha-inactive-color) solid;
}

.Chip--label {
  background-color: var(--Chip-alpha-label-color);
  color: var(--lp-color-text-ui-primary);
}

.Chip :global([class*='_icon_']) {
  margin-right: 0.2rem;
  vertical-align: top;
}

.Chip--clickable:hover {
  cursor: pointer;
  background: var(--Chip-alpha-hover-background-color);
}

.Chip--clickable:focus {
  outline: 0;
  box-shadow: 0 0 0 1px var(--lp-color-bg-ui-primary),
    0 0 0 2px var(--lp-color-shadow-interactive-focus);
  z-index: 2;
}

.Chip--federal {
  background-color: var(--Chip-alpha-federal-color);
  border-color: var(--Chip-alpha-federal-color);
  color: var(--lp-color-black-300);
}
