.TabList-list {
  display: flex;
  flex-direction: row;
  background-color: var(--lp-color-background);
  border-bottom: 1px solid var(--lp-color-border);
}

.TabList-item {
  display: block;
  padding: 0.375rem 0.625rem;
  font-size: 0.8125rem;
  font-weight: var(--lp-font-weight-medium);
  text-decoration: none;
  color: var(--lp-color-text-subtle-secondary);
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.TabList-item:focus {
  outline: none;
  background-color: var(--lp-color-background-hover);
}

.TabList-item:hover {
  outline: none;
  background-color: var(--lp-color-background-hover);
}

.TabList-item.is-active {
  color: var(--lp-color-text);
}

.TabList-item.is-active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  background-color: var(--lp-color-focus);
  height: 2px;
}

.TabList-item[aria-disabled],
.TabList-item[aria-disabled]:hover,
.TabList-item[aria-disabled]:active {
  cursor: not-allowed;
  background-color: var(--lp-color-background);
  color: var(--lp-color-gray-500);
}

.TabList-panel {
  display: block;
}
