.TabList-list {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--lp-color-border-ui-primary);
}

.TabList-item {
  display: block;
  padding: 0.6rem 1rem;
  font-size: 1.3rem;
  font-weight: var(--lp-font-weight-medium);
  text-decoration: none;
  color: var(--lp-color-text-interactive-secondary);
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.TabList-item:focus {
  outline: none;
  background-color: var(--lp-color-bg-interactive-secondary-hover);
  color: var(--lp-color-text-ui-primary-base);
}

.TabList-item:hover {
  outline: none;
  background-color: var(--lp-color-bg-interactive-secondary-hover);
  color: var(--lp-color-text-ui-primary-base);
}

.TabList-item.is-active {
  color: var(--lp-color-text-ui-primary-base);
}

.TabList-item.is-active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  background-color: var(--lp-color-border-interactive-focus);
  height: 2px;
}

.TabList-item[aria-disabled],
.TabList-item[aria-disabled]:hover,
.TabList-item[aria-disabled]:active {
  cursor: not-allowed;
  background-color: var(--lp-color-bg-ui-primary);
  color: var(--lp-color-text-interactive-disabled);
}

.TabList-panel {
  display: block;
}
