.tag {
	background-color: var(--lp-color-bg-ui-secondary);
	color: var(--lp-color-text-ui-secondary);
	border-radius: var(--lp-border-radius-regular);
	max-width: 100%;
	font-weight: var(--lp-font-weight-medium);
	margin-right: 0.375rem;
	box-sizing: border-box;
	cursor: default;
	display: inline-grid;
}

.tag.small {
	font-size: var(--lp-font-size-200);
	line-height: var(--lp-font-size-200);
	padding: 0 0.25rem 0 0.375rem;
	height: 1.5rem;
	margin-bottom: 0.25rem;
}

.tag.tiny {
	font-size: var(--lp-font-size-100);
	line-height: 1.25;
	height: 20px;
	margin-bottom: 0.125rem;
	padding: 0 0.125rem 0 0.25rem;
}

a.tag,
.tag.isInteractive {
	background-color: var(--lp-color-bg-interactive-link);
	color: var(--lp-color-text-interactive-base);
	text-decoration: none;
	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration: underline;
	}

	[data-theme='dark'] & {
		color: var(--lp-color-brand-cyan-base);
		background-color: hsla(190.1 90.2% 60% / 0.2);
	}
}

.isFocusVisible {
	outline: none;
	box-shadow: 0 0 0 2px var(--lp-color-bg-ui-primary), 0 0 0 4px
		var(--lp-color-shadow-interactive-focus);
}

.tagCell {
	display: flex;
	align-items: center;
}

.tagContent {
	padding: 0.25rem 0.125rem 0.25rem 0;

	.tiny & {
		padding: 0.09375rem 0.125rem 0.09375rem 0;
	}
}

.removeButton {
	border-radius: 0.375rem;
	width: 1.25rem;
	height: 1.25rem;
	margin: 0;
	display: flex;
	padding: 0;
	border: none;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	cursor: pointer;
	color: var(--lp-color-text-ui-secondary);

	&:hover {
		background-color: var(--lp-color-bg-interactive-tertiary-hover);
	}

	&:focus-within {
		outline: none;
	}

	.tiny & {
		border-radius: 0.1875rem;
		width: 1rem;
		height: 1rem;
	}
}

.tagGroupContainer {
	width: 100%;
	display: inline;
}

.tagGroup {
	display: inline;
	line-height: 1;
	vertical-align: top;
}

.tagGroupActions {
	display: inline;
	vertical-align: top;
	margin-bottom: 0.25rem;
	line-height: 1;

	.tiny & {
		margin-bottom: 0.125rem;
	}
}

.removable {
	border: 1px solid var(--lp-color-border-interactive-secondary-base);
}
