.options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.option {
  padding: 0.8rem 1.6rem;
  color: var(--lp-color-text-ui-primary);
  cursor: pointer;

  &.isSelected {
    background-color: rgb(64 91 255 / 0.05);
  }

  &.isFocused {
    background-color: rgb(64 91 255 / 0.15);
    outline: none;
  }

  &:hover {
    background-color: rgb(64 91 255 / 0.15);
  }
}

.combobox {
  /* styles here */
  color: red;
}

.popover {
  border: 1px solid var(--lp-color-border-ui-primary);
  background: var(--lp-color-bg-overlay-primary);
  border-radius: var(--lp-border-radius-regular);
  max-height: 55vh;
  overflow: auto;

  /* --color-black-100 */
  box-shadow: 0 0 4px hsl(0 0% 15.7% / 0.12), 0 1px 2px hsl(0 0% 15.7% / 0.1),
    0 4px 4px hsl(0 0% 15.7% / 0.08);

  :root[data-theme='dark'] & {
    box-shadow: 0 0 4px var(--lp-color-shadow-ui-primary),
      0 1px 2px var(--lp-color-shadow-ui-primary), 0 4px 4px var(--lp-color-shadow-ui-primary);
  }
}

.container {
  background-color: var(--lp-color-bg-field);
  border: 1px solid var(--lp-color-border-field);
  position: relative;
  flex-direction: row;
  border-radius: var(--lp-border-radius-regular);
  min-height: 3.2rem;
  display: flex;
  overflow: visible;
  width: 100%;
  cursor: pointer;
  outline: 0;
  padding: 0;
  margin: 0;
  align-items: center;

  &.isOpen {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 0.075), 0 0 0 3px rgb(0 126 255 / 0.1);
    border-color: var(--lp-color-border-field-focus);
  }
}

.valueContainer {
  flex: 1;
  padding: 0.4rem;
  display: grid;
  align-items: center;
}

.singleValue {
  color: var(--lp-color-text-ui-primary);
  grid-area: 1/1/2/3;
  margin-left: 2px;
  margin-right: 2px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 1.3rem;
  text-align: left;
  display: flex;
  align-items: center;
}

.indicatorsContainer {
  align-self: stretch;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  color: var(--lp-color-text-ui-tertiary);
}

.closeIndicatorContainer {
  padding: 0.4rem;

  svg {
    width: 16px;
    height: 16px;
  }
}

.expandIndicatorContainer {
  padding: 0.4rem;

  svg {
    width: 20px;
    height: 20px;
  }
}

.expandMoreButton {
  border: none;
  background: none;
}

.input {
  color: inherit;
  background: 0 center;
  opacity: 1;
  width: 100%;
  grid-area: 1 / 2 / auto / auto;
  font: inherit;
  min-width: 2px;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

.inputContainer {
  margin: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  visibility: visible;
  color: var(--lp-color-text-ui-primary);
  flex: 1 1 auto;
  display: inline-grid;
  grid-area: 1/1/2/3;
  grid-template-columns: 0 min-content;
  box-sizing: border-box;
}
