:root {
  --reskin-text-color: hsl(240 2.2% 35.3%);
  --reskin-success-green-safe: hsl(142.4 71.8% 29.2%);
  --reskin-info-blue-safe: hsl(207.2 86% 39.2%);
  --reskin-warn-gold-safe: hsl(42.9 100% 29.6%);
  --reskin-error-red-safe: hsl(0 100% 41.6%);
  --hsl-info-bg-color-alpha10: hsl(207.2 86.4% 49% / 0.1);
  --hsl-success-bg-color-alpha10: hsl(142.1 70.9% 39% / 0.1);
  --hsl-warning-bg-color-alpha10: hsl(43.1 100% 37.6% / 0.1);
  --hsl-error-bg-color-alpha10: hsl(0 75.5% 61.6% / 0.1);
  --reskin-success-green-light: var(--color-system-green-200);
  --reskin-success-green-base: var(--color-system-green-700);
  --reskin-info-blue-light: var(--color-blue-200);
  --reskin-info-blue-base: var(--color-blue-700);
  --reskin-warn-gold-light: var(--color-system-yellow-200);
  --reskin-warn-gold-base: var(--color-system-yellow-700);
  --reskin-error-red-light: var(--color-system-red-200);
  --reskin-error-red-base: var(--color-system-red-700);

  /* TODO: name better, improve a11y support — convert to rem once we migrate */
  --box-shadow-0x2y-blur8-sp1-4prc-black: 0 8px 2px -1px hsl(0 0% 12.9% / 0.04);
  --box-shadow-0x2y-blur4-sp0-8prc-black: 0 2px 4px 0 hsl(0 0% 12.9% / 0.08);
  --box-shadow-0x1y-blur2-sp0-14prc-black: 0 1px 2px 0 hsl(0 0% 12.9% / 0.14);
  --reskin-box-shadow-triple: var(--box-shadow-0x2y-blur8-sp1-4prc-black),
    var(--box-shadow-0x2y-blur4-sp0-8prc-black), var(--box-shadow-0x1y-blur2-sp0-14prc-black);
  --reskin-border-radius-6px: 6px;
  --Alert-color-background-info: var(--reskin-info-blue-light);
  --Alert-color-background-success: var(--reskin-success-green-light);
  --Alert-color-background-warning: var(--reskin-warn-gold-light);
  --Alert-color-background-error: var(--reskin-error-red-light);
  --Alert-color-border-info: var(--reskin-info-blue-base);
  --Alert-color-border-success: var(--reskin-success-green-base);
  --Alert-color-border-warning: var(--reskin-warn-gold-base);
  --Alert-color-border-error: var(--reskin-error-red-base);
  --Alert-icon-color-info: var(--reskin-info-blue-base);
  --Alert-icon-color-success: var(--reskin-success-green-base);
  --Alert-icon-color-warning: var(--reskin-warn-gold-base);
  --Alert-icon-color-error: var(--reskin-error-red-base);
  --Alert-text-color: var(--color-text-subtle-primary);
}

.Alert {
  position: relative;
  display: flex;
  border: none;
  padding: 1.4rem 1.8rem;
  font-size: 1.4rem;
  line-height: 1.45;
  white-space: normal;
  max-width: 70rem;
  background-color: var(--color-background);
  color: var(--Alert-text-color);
  box-sizing: border-box;
  border-radius: 2px;
}

.Alert-heading {
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.25;
}

.Alert :global(.ButtonGroup) {
  margin-top: 1.2rem;
}

.Alert-icon {
  line-height: 1.2857;
}

.Alert--inline {
  background-color: unset;
  padding: 0;
}

/* Alert size variants */

.Alert--small {
  font-size: 1.3rem;
}

.Alert--small .Alert-icon {
  top: 0.8em;
}

.Alert--wide {
  width: 86%;
  margin-top: 0.8rem;
}

.Alert--compact {
  width: fit-content;
}

/* for Edge pre-2019 browsers. IE doesn't recognize @supports at all. */
@supports not (width: fit-content) {
  .Alert--compact {
    display: table;
  }
}

/* Alert kind variants */

.Alert--info .Alert-icon :global(svg) {
  fill: var(--reskin-info-blue-base);
}

.Alert--success .Alert-icon :global(svg) {
  fill: var(--reskin-success-green-base);
}

.Alert--warning .Alert-icon :global(svg) {
  fill: var(--reskin-warn-gold-base);
}

.Alert--error .Alert-icon :global(svg) > :global(path) {
  fill: var(--reskin-error-red-base);
}

.Alert--info.Alert--bordered {
  border: var(--border-width-1) solid var(--Alert-color-border-info);
  background-color: var(--Alert-color-background-info);
}

.Alert--success.Alert--bordered {
  border: var(--border-width-1) solid var(--Alert-color-border-success);
  background-color: var(--Alert-color-background-success);
}

.Alert--warning.Alert--bordered {
  border: var(--border-width-1) solid var(--Alert-color-border-warning);
  background-color: var(--Alert-color-background-warning);
}

.Alert--error.Alert--bordered {
  border: var(--border-width-1) solid var(--Alert-color-border-error);
  background-color: var(--Alert-color-background-error);
}

/* Alert content styles */

.Alert-content {
  margin-left: 1.4rem;
  flex-grow: 1;
}

.Alert-content :global(a:not(.Button)) {
  color: var(--color-link);

  &:hover {
    text-decoration: none;
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0 0 0 1px hsl(0 0 100% / 0.7), 0 0 0 4px hsl(0 0% 9.8% / 0.1);
  }

  &:active {
    color: var(--color-link);
    box-shadow: none;
    text-decoration: underline;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }
}

.Alert-content :global(ul) {
  margin: 0 0 0.5em;
}

.Alert-content :only-child {
  margin-bottom: 0;
}

.Alert-content :global(p),
.Alert :global(ul) {
  list-style-position: outside;
  margin: 0 0 0.5em;
}
