:root {
  --CollapsibleAlert-button-color-outline-focus: var(--lp-color-bg-ui-secondary);
  --CollapsibleAlert-button-color-text: var(--lp-color-text-ui-secondary);
  --CollapsibleAlert-button-color-text-active: var(--lp-color-text-ui-secondary);
  --CollapsibleAlert-icon-color: var(--lp-color-text-ui-secondary);
}

.Alert {
  position: relative;
  display: flex;
  gap: 1.4rem;
  border: none;
  padding: 1.4rem 1.8rem;
  font-size: 1.4rem;
  line-height: 1.45;
  white-space: normal;
  width: 100%;
  background-color: var(--lp-color-bg-ui-primary);
  color: var(--lp-color-text-feedback);
  box-sizing: border-box;
  border-radius: 2px;
}

.Alert-heading {
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  color: var(--lp-color-text-feedback);
  font-weight: var(--lp-font-weight-medium);
  line-height: 1.25;
}

.Alert :global(.ButtonGroup) {
  margin-top: 1.2rem;
}

.Alert .Alert-icon {
  line-height: 1.2857;
}

/* stylelint-disable-next-line no-descending-specificity */
.Alert.Alert--inline {
  background-color: unset;
  padding: 0;
}

/* Alert size variants */

.Alert.Alert--small {
  font-size: 1.3rem;
}

.Alert.Alert--small .Alert-icon {
  top: auto;
  transform: translateY(1px);
}

.Alert.Alert--wide {
  width: 86%;
  margin-top: 0.8rem;
}

.Alert.Alert--compact {
  width: fit-content;
}

/* for Edge pre-2019 browsers. IE doesn't recognize @supports at all. */
@supports not (width: fit-content) {
  .Alert.Alert--compact {
    display: table;
  }
}

/* Alert kind variants */

.Alert.Alert--info .Alert-icon svg {
  fill: var(--lp-color-fill-feedback-info);
}

.Alert.Alert--success .Alert-icon svg {
  fill: var(--lp-color-fill-feedback-success);
}

.Alert.Alert--warning .Alert-icon svg {
  fill: var(--lp-color-fill-feedback-warning);
}

.Alert.Alert--error .Alert-icon svg > path {
  fill: var(--lp-color-fill-feedback-error);
}

.Alert.Alert--info.Alert--bordered {
  border: var(--lp-border-width-200) solid var(--lp-color-border-feedback-info);
  background-color: var(--lp-color-bg-feedback-info);
}

.Alert.Alert--success.Alert--bordered {
  border: var(--lp-border-width-200) solid var(--lp-color-border-feedback-success);
  background-color: var(--lp-color-bg-feedback-success);
}

.Alert.Alert--warning.Alert--bordered {
  border: var(--lp-border-width-200) solid var(--lp-color-border-feedback-warning);
  background-color: var(--lp-color-bg-feedback-warning);
}

.Alert.Alert--error.Alert--bordered {
  border: var(--lp-border-width-200) solid var(--lp-color-border-feedback-error);
  background-color: var(--lp-color-bg-feedback-error);
}

/* Alert content styles */

.Alert-content {
  flex-grow: 1;
  max-width: 70rem;
  min-width: 1px;
  word-break: break-word;
}

.Alert-close {
  margin-left: auto;
}

.Alert-content :global(a:not(.Button)) {
  color: var(--lp-color-text-interactive);

  &:hover {
    text-decoration: none;
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0 0 0 1px hsl(0 0 100% / 0.7), 0 0 0 4px hsl(0 0% 9.8% / 0.1);
  }

  &:active {
    color: var(--lp-color-text-interactive-active);
    box-shadow: none;
    text-decoration: underline;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }
}

.Alert-content ul {
  margin: 0 0 0.5em;
}

.Alert-content :only-child {
  margin-bottom: 0;
}

.Alert-content p,
.Alert ul {
  list-style-position: outside;
  margin: 0 0 0.5em;
}

.CollapsibleAlert {
  margin-top: 0.8rem;
}

.CollapsibleAlert .Alert-content {
  width: 100%;
}

.CollapsibleAlert-triggerContainer {
  transform: translateX(-0.4rem);
}
