:root {
  --reskin-text-color: hsl(240 2.2% 35.3%);
  --reskin-success-green-safe: hsl(142.4 71.8% 29.2%);
  --reskin-info-blue-safe: hsl(207.2 86% 39.2%);
  --reskin-warn-gold-safe: hsl(42.9 100% 29.6%);
  --reskin-error-red-safe: hsl(0 100% 41.6%);
  --hsl-info-bg-color-alpha10: hsl(207.2 86.4% 49% / 0.1);
  --hsl-success-bg-color-alpha10: hsl(142.1 70.9% 39% / 0.1);
  --hsl-warning-bg-color-alpha10: hsl(43.1 100% 37.6% / 0.1);
  --hsl-error-bg-color-alpha10: hsl(0 75.5% 61.6% / 0.1);
  --Alert-closeButton-color-border: transparent;
  --Alert-closeButton-color-fill: var(--color-gray-700);
  --Alert-closeButton-color-text: var(--color-gray-700);
  --Alert-closeButton-icon-color-background-hover: hsl(0 0 100% / 0.1);
  --Alert-closeButton-icon-color-background-focus: hsl(0 0 100% / 0.1);
  --Alert-closeButton-icon-color-background-active: hsl(0 0% 12.9% / 0.7);
  --Alert-closeButton-icon-box-shadow-hover: 0 0 0 1px hsl(216 2.4% 58.6% / 0.7),
    0 0 0 4px hsl(0 0% 12.9% / 0.1);
  --Alert-closeButton-icon-box-shadow-focus: 0 0 0 1px hsl(225 1.8% 43.5% / 0.7),
    0 0 0 4px hsl(0 0% 12.9% / 0.1);
  --Alert-closeButton-icon-box-shadow-active: 0 0 0 1px var(--color-black-200),
    0 0 0 4px hsl(0 0% 12.9% / 0.1);
  --Alert-closeButton-icon-color-active: var(--color-text-inverse);
  --reskin-success-green-light: var(--color-system-green-200);
  --reskin-success-green-base: var(--color-system-green-700);
  --reskin-info-blue-light: var(--color-blue-200);
  --reskin-info-blue-base: var(--color-blue-700);
  --reskin-warn-gold-light: var(--color-system-yellow-200);
  --reskin-warn-gold-base: var(--color-system-yellow-700);
  --reskin-error-red-light: var(--color-system-red-200);
  --reskin-error-red-base: var(--color-system-red-700);

  /* TODO: name better, improve a11y support — convert to rem once we migrate */
  --box-shadow-0x2y-blur8-sp1-4prc-black: 0 8px 2px -1px hsl(0 0% 12.9% / 0.04);
  --box-shadow-0x2y-blur4-sp0-8prc-black: 0 2px 4px 0 hsl(0 0% 12.9% / 0.08);
  --box-shadow-0x1y-blur2-sp0-14prc-black: 0 1px 2px 0 hsl(0 0% 12.9% / 0.14);
  --reskin-box-shadow-triple: var(--box-shadow-0x2y-blur8-sp1-4prc-black),
    var(--box-shadow-0x2y-blur4-sp0-8prc-black), var(--box-shadow-0x1y-blur2-sp0-14prc-black);

  /* TODO: figure out if this the better
  https://www.quackit.com/css/codes/patterns/css_background_stripes.cfm */
  --reskin-striped-base: repeating-linear-gradient(
    45deg,
    var(--color-white),
    var(--color-white) 20px,
    var(--color-white-100) 20px,
    var(--color-white-100) 40px
  );
  --reskin-border-radius-6px: 6px;
  --Alert-color-background-info: var(--reskin-info-blue-light);
  --Alert-color-background-success: var(--reskin-success-green-light);
  --Alert-color-background-warning: var(--reskin-warn-gold-light);
  --Alert-color-background-error: var(--reskin-error-red-light);
  --Alert-color-background-striped: var(--reskin-striped-base);
  --Alert-color-border-info: var(--reskin-info-blue-base);
  --Alert-color-border-success: var(--reskin-success-green-base);
  --Alert-color-border-warning: var(--reskin-warn-gold-base);
  --Alert-color-border-error: var(--reskin-error-red-base);
  --Alert-color-border-striped: var(--color-gray-500);
  --Alert-icon-color-info: var(--reskin-info-blue-base);
  --Alert-icon-color-success: var(--reskin-success-green-base);
  --Alert-icon-color-warning: var(--reskin-warn-gold-base);
  --Alert-icon-color-error: var(--reskin-error-red-base);
  --Alert-icon-color-striped: var(--color-black-200);
  --Alert-text-color: var(--color-text-subtle-primary);
}

.Alert {
  position: relative;
  display: flex;
  border: none;
  padding: 1.4rem 1.8rem;
  font-size: 1.4rem;
  line-height: 1.45;
  white-space: normal;
  background-color: var(--color-background);
  color: var(--Alert-text-color);
  box-sizing: border-box;
  border-radius: 2px;
}

.Alert-heading {
  margin-top: 0;
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

.Alert-actions {
  margin-top: 1.2rem;
}

.Alert p {
  margin-top: 0;
  margin-bottom: 0;
}

.Alert-icon {
  line-height: 1.2857;
}

.Alert--inline {
  background-color: unset;
  padding: 0;
}

/* Alert size variants */

.Alert--small {
  font-size: 1.3rem;
}

.Alert--small .Alert-icon {
  top: 0.8em;
}

.Alert--wide {
  width: 86%;
  margin-top: 0.8rem;
}

.Alert--compact {
  width: fit-content;
}

/* for Edge pre-2019 browsers. IE doesn't recognize @supports at all. */
@supports not (width: fit-content) {
  .Alert--compact {
    display: table;
  }
}

/* Alert kind variants */

.Alert--info .Alert-icon svg {
  fill: var(--reskin-info-blue-base);
}

.Alert--success .Alert-icon svg {
  fill: var(--reskin-success-green-base);
}

.Alert--warning .Alert-icon svg {
  fill: var(--reskin-warn-gold-base);
}

.Alert--error .Alert-icon svg > path {
  fill: var(--reskin-error-red-base);
}

.Alert--striped .Alert-icon svg {
  fill: var(--color-black-200);
}

.Alert--info.Alert--bordered {
  border: var(--border-width-1) solid var(--Alert-color-border-info);
  background-color: var(--Alert-color-background-info);
}

.Alert--success.Alert--bordered {
  border: var(--border-width-1) solid var(--Alert-color-border-success);
  background-color: var(--Alert-color-background-success);
}

.Alert--warning.Alert--bordered {
  border: var(--border-width-1) solid var(--Alert-color-border-warning);
  background-color: var(--Alert-color-background-warning);
}

.Alert--error.Alert--bordered {
  border: var(--border-width-1) solid var(--Alert-color-border-error);
  background-color: var(--Alert-color-background-error);
}

/* Alert content styles */

.Alert-content {
  margin-left: 1.4rem;
  margin-top: 0.2rem;
}

.Alert-content a:not(.Button) {
  color: var(--color-link);

  &:hover {
    text-decoration: none;
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0 0 0 1px hsl(0 0 100% / 0.7), 0 0 0 4px hsl(0 0% 9.8% / 0.1);
  }

  &:active {
    color: var(--color-link);
    box-shadow: none;
    text-decoration: underline;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }
}

.Alert-content ul {
  margin: 0 0 0.5em;
}

.Alert-content :only-child {
  margin-bottom: 0;
}

.Alert ul {
  list-style-position: outside;
  margin-left: 2rem;
}

.Alert-close.Button {
  min-width: 2.2rem;
  width: 2.2rem;
  height: 2.2rem;
  margin-left: auto;

  & svg {
    fill: var(--Alert-closeButton-color-fill);
  }
}

.Alert-close.Button--icon.Button--default {
  background-color: transparent;
  border-color: var(--Alert-closeButton-color-border);
  color: var(--Alert-closeButton-color-text);

  & .Icon {
    background-color: transparent;
    border-radius: 50%;
    fill: var(--Alert-closeButton-color-fill);
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
  }
}

.Alert-close.Button--icon.Button--default:hover {
  background-color: transparent;

  & .Icon {
    background-color: var(--Alert-closeButton-icon-color-background-hover);
    box-shadow: var(--Alert-closeButton-icon-box-shadow-hover);
  }
}

.Alert-close.Button--icon.Button--default:focus {
  box-shadow: none;

  & .Icon {
    background-color: var(--Alert-closeButton-icon-color-background-focus);
    box-shadow: var(--Alert-closeButton-icon-box-shadow-focus);
  }
}

.Alert-close.Button--icon.Button--default:active {
  background-color: transparent;

  & .Icon {
    background-color: var(--Alert-closeButton-icon-color-background-active);
    box-shadow: var(--Alert-closeButton-icon-box-shadow-active);
    color: var(--Alert-closeButton-icon-color-active);

    & > svg {
      fill: currentcolor;
    }
  }
}
