/* stylelint-disable no-descending-specificity */

/* TODO: name box-shadow specific variables bette
try out semitransparent borders for light/dark
backround support in CollapsibleAlert */
:root {
  --reskin-border-color-subtle: hsl(210 16.7% 45.3% / 0.1);
  --reskin-text-color: hsl(240 2.2% 35.3%);
  --CollapsibleAlert-Table-color-border: var(--reskin-border-color-subtle);
  --CollapsibleAlert-color-link: var(--color-gray-700);
  --CollapsibleAlert-button-color-outline-focus: var(--color-black-200);
  --CollapsibleAlert-button-color-text: var(--color-gray-800);
  --CollapsibleAlert-button-color-text-active: var(--color-black-200);
  --CollapsibleAlert-icon-color: var(--color-gray-800);
}

.CollapsibleAlert {
  margin-top: 0.8rem;
}

.CollapsibleAlert .Alert-content {
  width: 100%;
}

/* setting border at 0% alpha for Windows High Contrast Mode support */
.CollapsibleAlert-button {
  display: flex;
  align-items: center;
  min-width: 9rem;
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: left;
  color: var(--CollapsibleAlert-button-color-text);
  background-color: transparent;
  border: hsl(0 0% 0% / 0);
  border-radius: var(--border-radius);
  cursor: pointer;

  &:focus {
    outline: 1px solid var(--CollapsibleAlert-button-color-outline-focus);
  }

  &:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }

  &:active {
    color: var(--CollapsibleAlert-button-color-text-active);
    box-shadow: none;
  }
}

.CollapsibleAlert--icon {
  color: var(--CollapsibleAlert-icon-color);
  top: 0;
  margin-left: auto;
}

.CollapsibleAlert--container {
  width: 100%;
}

/* completely hide content from all users
while respecting CSS transitions
https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
 */
.CollapsibleAlert--contentContainer {
  width: 100%;
  padding-top: 0;
  border-top: none;
  border-radius: 0;
  margin-top: 0;
  visibility: hidden;
  overflow: auto;
  max-height: 0;
  opacity: 0;
  transform: translate3d(0, -1rem, 0);
  transition: visibility 0.5s, max-height 0.5s, opacity 0.5s, transform 0.5s;
  transition-timing-function: ease-in-out;

  & > a {
    color: var(--CollapsibleAlert-color-link);

    &:hover {
      text-decoration: none;
      box-shadow: none;
    }

    &:focus {
      box-shadow: 0 0 0 1px hsl(0 0% 9.8% / 0.7), 0 0 0 4px hsl(0 0% 9.8% / 0.1);
    }

    &:focus:not(:focus-visible) {
      outline: none;
      box-shadow: none;
    }

    &:active {
      color: var(--color-text);
      box-shadow: none;
      text-decoration: underline;
    }
  }

  /* some specific table overrides in Collapsible Alert */
  & .Table-header {
    border-bottom: 1px solid var(--CollapsibleAlert-Table-color-border);
  }

  & .Table-body .Table-row + .Table-row {
    border-top: 1px solid var(--CollapsibleAlert-Table-color-border);
  }

  & .Table--compact .Table-cell {
    padding: 0.5rem 1rem 0.5rem 0;
  }
}

/* animate content container when button toggled */
[aria-expanded='true'] + .CollapsibleAlert--contentContainer {
  margin-top: 0.4rem;
  visibility: visible;
  max-height: 31.25rem;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* -------------- LEGACY STYLING -------------- */

.LegacyStyles .CollapsibleAlert--container {
  width: 100%;
}

.LegacyStyles .CollapsibleAlert--contentContainer a {
  color: var(--color-link);

  &:hover {
    text-decoration: none;
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0 0 0 1px hsl(0 0 100% / 0.7), 0 0 0 4px hsl(0 0% 9.8% / 0.1);
  }

  &:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }

  &:active {
    color: var(--color-link);
    box-shadow: none;
    text-decoration: underline;
  }
}

/* reset specific table overrides in Collapsible Alert */
.LegacyStyles .CollapsibleAlert--contentContainer {
  & .Table-header {
    border-bottom: 1px solid var(--CollapsibleAlert-Table-color-border);
  }

  & .Table-body .Table-row + .Table-row {
    border-top: 1px solid var(--CollapsibleAlert-Table-color-border);
  }
}
/* stylelint-enable no-descending-specificity */
