/* TODO: name box-shadow specific variables better
try out semitransparent borders for light/dark
backround support in CollapsibleAlert */
:root {
  --reskin-border-color-subtle: hsl(210 16.7% 45.3% / 0.1);
  --reskin-text-color: hsl(240 2.2% 35.3%);
  --CollapsibleAlert-Table-color-border: var(--reskin-border-color-subtle);
  --CollapsibleAlert-color-link: var(--lp-color-gray-700);
  --CollapsibleAlert-button-color-outline-focus: var(--lp-color-black-200);
  --CollapsibleAlert-button-color-text: var(--lp-color-gray-800);
  --CollapsibleAlert-button-color-text-active: var(--lp-color-black-200);
  --CollapsibleAlert-icon-color: var(--lp-color-gray-800);
}

.CollapsibleAlert {
  margin-top: 0.5rem;
}

.CollapsibleAlert :global(.Alert-content) {
  width: 100%;
}

/* setting border at 0% alpha for Windows High Contrast Mode support */
.CollapsibleAlert-button {
  display: flex;
  align-items: center;
  min-width: 5.625rem;
  padding: 0;
  font-size: 0.8125rem;
  line-height: 1.5;
  text-align: left;
  color: var(--CollapsibleAlert-button-color-text);
  background-color: transparent;
  border: hsl(0 0% 0% / 0);
  border-radius: var(--lp-border-radius);
  cursor: pointer;

  &:focus {
    outline: 1px solid var(--CollapsibleAlert-button-color-outline-focus);
  }

  &:active {
    color: var(--CollapsibleAlert-button-color-text-active);
    box-shadow: none;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
  }
}

.CollapsibleAlert--icon {
  color: var(--CollapsibleAlert-icon-color);
  top: 0;
  margin-left: auto;
}

.CollapsibleAlert--container {
  width: 100%;
}

/* completely hide content from all users
while respecting CSS transitions
https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
 */
.CollapsibleAlert--contentContainer {
  width: 100%;
  padding-top: 0;
  border-top: none;
  border-radius: 0;
  margin-top: 0;
  visibility: hidden;
  overflow: auto;
  max-height: 0;
  opacity: 0;
  transform: translate3d(0, -0.625rem, 0);
  transition: visibility 0.5s, max-height 0.5s, opacity 0.5s, transform 0.5s;
  transition-timing-function: ease-in-out;

  & > a {
    color: var(--CollapsibleAlert-color-link);

    &:hover {
      text-decoration: none;
      box-shadow: none;
    }

    &:focus {
      box-shadow: 0 0 0 1px hsl(0 0% 9.8% / 0.7), 0 0 0 4px hsl(0 0% 9.8% / 0.1);
    }

    &:active {
      color: var(--lp-color-text-ui-primary);
      box-shadow: none;
      text-decoration: underline;
    }

    &:focus:not(:focus-visible) {
      outline: none;
      box-shadow: none;
    }
  }

  /* some specific table overrides in Collapsible Alert */
  & :global(.Table-header) {
    border-bottom: 1px solid var(--CollapsibleAlert-Table-color-border);
  }

  & :global(.Table-body .Table-row + .Table-row) {
    border-top: 1px solid var(--CollapsibleAlert-Table-color-border);
  }

  & :global(.Table--compact .Table-cell) {
    padding: 0.3125rem 0.625rem 0.3125rem 0;
  }
}

/* animate content container when button toggled */
[aria-expanded='true'] + .CollapsibleAlert--contentContainer {
  margin-top: 0.25rem;
  visibility: visible;
  max-height: 19.5313rem;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
