.Toggle-storygroup-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5rem auto;
  grid-gap: 0.75rem;
  justify-items: flex-start;
  align-items: center;
}

.Toggle-state-label {
  text-align: right;
  font-weight: bold;
  text-transform: capitalize;
}

.Toggle-iggy-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5rem auto;
  grid-gap: 0.75rem;
  justify-items: flex-start;
  align-items: center;

  & h3 {
    font-size: 0.75rem;
  }
}
