.columns {
	display: flex;
	flex-flow: row nowrap;
	min-width: min-content;
}

.alignY-top {
	align-items: flex-start;
}

.alignY-center {
	align-items: center;
}

.alignY-left {
	align-items: flex-end;
}

.gap-0 {
	gap: var(--lp-spacing-100);
}

.gap-1 {
	gap: var(--lp-spacing-200);
}

.gap-2 {
	gap: var(--lp-spacing-300);
}

.gap-3 {
	gap: var(--lp-spacing-400);
}

.gap-4 {
	gap: var(--lp-spacing-500);
}

.gap-5 {
	gap: var(--lp-spacing-600);
}

.gap-6 {
	gap: var(--lp-spacing-700);
}

.gap-7 {
	gap: var(--lp-spacing-800);
}

.gap-8 {
	gap: var(--lp-spacing-900);
}

.column {
	min-width: 0%;
	box-sizing: border-box;
}

.content {
	flex-shrink: 0;
}

.fluid {
	width: 100%;
}

.half {
	width: 50%;
}

.third {
	width: 33.3333%;
}

.twoThird {
	width: 66.6667%;
}
