.Markdown ol,
.Markdown ul {
	padding-left: 1.25rem;
}

.Markdown ul li + li,
.Markdown ol li + li,
.Markdown > * :not(:first-child) {
	margin-top: 0.125rem;
}

.Markdown > p {
	word-break: normal;
}

.Markdown p + p {
	padding-top: 0.9375rem;
}

.Markdown blockquote {
	line-height: 2;
}

.Markdown a {
	color: var(--lp-color-text-interactive-base);
}

.Markdown a:visited {
	color: var(--lp-color-text-interactive-active);
}
