.Counter {
	display: inline-block;
	font-size: 0.6875rem;
	font-weight: var(--lp-font-weight-bold);
	line-height: 1.285714286;
	padding: 2px 8px;
	border-radius: 0.625rem;
	color: var(--lp-color-text-ui-secondary);
	border: 1px solid var(--lp-color-blue-600);
	min-width: 1.25rem;
	vertical-align: middle;
}

.Counter--subtle {
	border: 1px solid var(--lp-color-border-ui-secondary);
	color: var(--lp-color-text-ui-secondary);
	background-color: var(--lp-color-bg-ui-secondary);
}
