.Counter {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: var(--lp-font-weight-bold);
  line-height: var(--lp-line-height-200);
  padding: 2px 8px;
  border-radius: 1rem;
  color: var(--lp-color-text-ui-secondary);
  border: 1px solid var(--lp-color-blue-500);
  min-width: 2rem;
  vertical-align: middle;
}

.Counter--subtle {
  border: 1px solid var(--lp-color-border-ui-primary);
  color: var(--lp-color-text-ui-secondary);
  background-color: var(--lp-color-bg-ui-secondary);
}
