:root {
  --slider-height: 1rem;
  --slider-knob-size: 1.6rem;
}

.Slider {
  position: relative;
  height: var(--slider-height);
}

.Slider input[type='range'] {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  height: var(--slider-height);
  margin: 0;
  padding: 0;
  background: transparent;
}

.Slider input[type='range']::-moz-focus-outer {
  border: none;
}

.Slider input[type='range'],
.Slider input[type='range']::-webkit-slider-runnable-track,
.Slider input[type='range']::-webkit-slider-thumb {
  appearance: none;
}

.Slider input[type='range']:focus {
  outline: none;
}

.Slider input[type='range']::-webkit-slider-runnable-track {
  background: transparent;
}

.Slider input[type='range']::-moz-range-track {
  background: transparent;
}

.Slider input[type='range']::-moz-range-progress {
  background: transparent;
}

.Slider input[type='range']::-webkit-slider-thumb {
  width: var(--slider-knob-size);
  height: var(--slider-knob-size);
  padding: calc(var(--slider-knob-size) / 4);
  cursor: not-allowed;
  background-color: var(--lp-color-white-100);
  background-image: linear-gradient(#fafafa, #f5f5f5);
  border-radius: var(--lp-border-radius);
  border: solid 1px var(--lp-color-border);
  box-shadow: 0 0 0 1px var(--lp-color-white);
  box-sizing: border-box;
}

.Slider input[type='range']:not([disabled])::-webkit-slider-thumb {
  cursor: ew-resize;
}

.Slider input[type='range']:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px var(--lp-color-white), 0 0 0 2px var(--lp-color-blue-500),
    0 0 0 5px rgb(0 126 255 / 0.1);
}

.Slider input[type='range']::-moz-range-thumb {
  width: var(--slider-knob-size);
  height: var(--slider-knob-size);
  padding: calc(var(--slider-knob-size) / 4);
  cursor: not-allowed;
  background-color: var(--lp-color-white-100);
  background-image: linear-gradient(#fafafa, #f5f5f5);
  border-radius: var(--lp-border-radius);
  border: solid 1px var(--lp-color-border);
  box-shadow: 0 0 0 1px var(--lp-color-white);
  box-sizing: border-box;
}

.Slider input[type='range']:not([disabled])::-moz-range-thumb {
  cursor: ew-resize;
}

.Slider input[type='range']:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px var(--lp-color-white), 0 0 0 2px var(--lp-color-blue-500),
    0 0 0 5px rgb(0 126 255 / 0.1);
}

.Slider-track {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 100%;
  height: var(--slider-height);
  background-color: var(--lp-color-white-100);
  border-radius: var(--lp-border-radius);
}

.Slider-fill {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 100%;
  height: var(--slider-height);
  background-color: var(--lp-color-border);
  border-top-left-radius: var(--lp-border-radius);
  border-bottom-left-radius: var(--lp-border-radius);
}

.Slider:not(.Slider--disabled):hover .Slider-fill {
  background-color: var(--lp-color-focus);
}
