@import '../../../tokens/dist/media-queries.css';

:root {
  --reskin-striped-base: repeating-linear-gradient(
    45deg,
    var(--color-white),
    var(--color-white) 20px,
    var(--color-white-100) 20px,
    var(--color-white-100) 40px
  );
  --Banner-color-border-top: var(--color-border);
  --Banner-color-text: var(--color-black-100);
  --Banner-color-background: var(--color-white);
  --Banner-color-background-info: var(--color-blue-200);
  --Banner-color-background-success: var(--color-system-green-200);
  --Banner-color-background-warning: var(--color-system-yellow-200);
  --Banner-color-background-error: var(--color-system-red-200);
  --Banner-color-background-striped: var(--reskin-striped-base);
  --Banner-icon-color-info: var(--color-blue-700);
  --Banner-icon-color-success: var(--color-system-green-700);
  --Banner-icon-color-warning: var(--color-system-yellow-700);
  --Banner-icon-color-error: var(--color-system-red-700);
  --Banner-icon-color-striped: var(--color-black-100);
}

@media (--tablet) {
  :root {
    --page-gutter-width: 4rem;
  }
}

.Banner {
  background: var(--Banner-color-background);
  display: flex;
  padding: 1rem 1.5rem 1rem var(--page-gutter-width);
}

.Banner + .Banner {
  border-top: 1px solid var(--Banner-color-border-top);
}

.Banner-text {
  color: var(--Banner-color-text);
  display: inline-block;
  flex-grow: 1;
  margin-left: 1rem;
}

.Banner-icon {
  margin-top: 0.2rem;
}

.Banner--error {
  background-color: var(--Banner-color-background-error);
}

.Banner--warning {
  background-color: var(--Banner-color-background-warning);
}

.Banner--info {
  background-color: var(--Banner-color-background-info);
}

.Banner--success {
  background-color: var(--Banner-color-background-success);
}

.Banner--striped {
  background-image: var(--reskin-striped-base);
  position: relative;
}

/* reset Icon--info positioning hack */
.Banner--info .Icon--info {
  top: 0;
}

.Banner--success .Banner-icon svg {
  fill: var(--Banner-icon-color-success);
}

.Banner--info .Banner-icon svg {
  fill: var(--Banner-icon-color-info);
}

.Banner--error .Banner-icon svg > path {
  fill: var(--Banner-icon-color-error);
}

.Banner--warning .Banner-icon svg {
  fill: var(--Banner-icon-color-warning);
}

.Banner--striped .Banner-icon .Icon {
  fill: var(--Banner-icon-color-striped);
}
