.Tooltip {
  z-index: var(--lp-z-index-800);
}

[class^='_Popover-content_'].Tooltip-popover-content {
  font-size: 1.3rem;
  background: var(--lp-color-bg-overlay-secondary);
  color: var(--lp-color-text-overlay-secondary);
  padding: 0.5rem 1rem;

  /* --color-black-100 */
  box-shadow: 0 0 4px hsl(0 0% 15.7% / 0.12), 0 1px 2px hsl(0 0% 15.7% / 0.1),
    0 4px 4px hsl(0 0% 15.7% / 0.08);
}

[class^='_Popover-content_'].Tooltip-popover-content kbd {
  color: var(--lp-color-gray-100);
  background-color: var(--lp-color-black-100);
  border: 0.1rem solid var(--lp-color-gray-700);
  box-shadow: inset 0 -0.1rem 0 var(--lp-color-gray-700);
}
