html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--lp-font-family-base);
  font-size: var(--lp-font-size-300);
  line-height: var(--lp-line-height-300);
}

[data-theme] {
  background-color: var(--lp-color-bg-ui-primary);
  color: var(--lp-color-text-ui-secondary);
}

h1,
h2,
h3 {
  color: var(--lp-color-text-ui-primary-base);
  margin: 0;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/inter/v7/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2')
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.sb-main-padded.sb-show-main {
  padding: 0;
  margin: 0;
}
