@import '../../../tokens/dist/media-queries.css';

:root {
  --page-gutter-width: 1rem;
}

@media (--tablet) {
  :root {
    --page-gutter-width: 4rem;
  }
}

:global(.has-overlay) {
  overflow: hidden;
}

.drawer {
  z-index: var(--lp-z-index-400);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(0);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsl(0 0% 20% / 0.5);
}

.content {
  background-color: var(--lp-color-bg-ui-primary);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  width: 100vw;
  max-width: 100vw;
  box-shadow: -1px 0 4px var(--lp-color-shadow-ui-primary);
}

@media (--tablet) {
  .small .content {
    width: 45rem;
  }

  .medium .content {
    width: 65rem;
  }

  .large .content {
    width: 80rem;
  }

  .xLarge .content {
    width: 120rem;
  }

  .full .content {
    width: 100%;
    max-width: unset;
  }
}

.content section {
  padding: 3.2rem var(--page-gutter-width);
}

.content section + section {
  border-top: 1px dotted var(--lp-color-gray-100);
}

.closeButton {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
