@import '../../../tokens/dist/media-queries.css';

:global(.has-overlay) {
  overflow: hidden;
}

.overlayContainer {
  z-index: 10002;
  position: fixed;
  inset: 0;
  transform: translateZ(0);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: hsl(0 0% 20% / 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.modal {
  background-color: var(--lp-color-background);
  position: relative;
  border: 1px solid var(--lp-color-gray-100);
  border-radius: 0.2rem;
  box-shadow: 0 0 6px var(--lp-color-gray-700);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  padding-bottom: 1.6rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 1.6rem;
}

.title {
  display: block;
  font-size: var(--lp-font-size-500);
  line-height: 1.2;
  font-weight: var(--lp-font-weight-semibold);
  margin: 0;
}

.headerIcon {
  transform: translateY(2px);

  svg {
    fill: var(--lp-color-system-yellow-700);
  }
}

.headerMain {
  display: flex;
  gap: 0.8rem;
  align-items: flex-start;
}

.headerDescription {
  font-size: 1.4rem;
  color: var(--lp-color-gray-800);
  margin: 0;
}

.headerRequiredFields {
  font-size: 1.4rem;
  color: var(--lp-color-gray-800);
  font-weight: var(--lp-font-weight-regular);
}

.requiredAsterisk {
  color: var(--lp-color-system-red-600);
}

.closeButton {
  margin-left: auto;
  transform: translateY(-1px);
}

.body {
  padding: 0 1.6rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--lp-color-text);

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.footer {
  padding: 1.6rem 1.6rem 0;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 429px) {
  .footerActions {
    width: 100%;
    align-items: stretch;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 430px) {
  .overlay {
    padding: 1.6rem;
    align-items: center;
  }

  .modal {
    padding-bottom: 2.4rem;
  }

  .header {
    padding: 2.4rem;
    gap: 0.8rem;
  }

  .footer {
    padding: 2.4rem 2.4rem 0;
  }

  .body {
    padding: 0 2.4rem;
  }

  .small.modal {
    width: 45rem;
  }

  .normal.modal {
    width: 65rem;
  }
}
