@import '../../../tokens/dist/media-queries.css';

:global(.has-overlay) {
  overflow: hidden;
}

.modal {
  z-index: 10002;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(0);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsl(0 0% 20% / 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: var(--lp-color-background);
  position: relative;
  border: 1px solid var(--lp-color-gray-100);
  border-radius: var(--lp-border-radius);
  box-shadow: 0 0 6px var(--lp-color-gray-700);
}

.header {
  font-size: var(--lp-font-size-500);
  font-weight: var(--lp-font-weight-semibold);
  padding: 1.25rem 2.75rem 0.625rem 1.25rem;
}

.title {
  display: block;
}

.body {
  font-size: 0.9375rem;
  line-height: 24px;
  padding: 0 1.25rem 1.25rem;
  color: var(--lp-color-text);
}

.footer {
  text-align: right;
  padding: 0.625rem 1.25rem 1.25rem;
}

.closeButton {
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
}
