@import '../../../tokens/dist/media-queries.css';

:global(.has-overlay) {
  overflow: hidden;
}

.modal {
  z-index: 10002;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(0);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsl(0 0% 20% / 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.content {
  background-color: var(--lp-color-background);
  position: relative;
  border: 1px solid var(--lp-color-gray-100);
  border-radius: 0.2rem;
  box-shadow: 0 0 6px var(--lp-color-gray-700);
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
  max-height: 95%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.title {
  display: block;
  font-size: var(--lp-font-size-500);
  line-height: 1.2;
  font-weight: var(--lp-font-weight-semibold);
  margin: 0;
}

.headerIcon {
  transform: translateY(2px);

  svg {
    fill: var(--lp-color-system-yellow-700);
  }
}

.headerMain {
  display: flex;
  gap: 0.8rem;
  align-items: flex-start;
}

.headerDescription {
  font-size: 1.4rem;
  color: var(--lp-color-gray-800);
  margin: 0;
}

.headerRequiredFields {
  font-size: 1.4rem;
  color: var(--lp-color-gray-800);
  font-weight: var(--lp-font-weight-regular);
}

.requiredAsterisk {
  color: var(--lp-color-system-red-600);
}

.closeButton {
  margin-left: auto;
  transform: translateY(-1px);
}

.body {
  font-size: 1.5rem;
  line-height: 24px;
  color: var(--lp-color-text);
  overflow-y: auto;

  p:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child,
  ul:first-child,
  ol:first-child {
    margin-top: 0;
  }

  p:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 429px) {
  .footerActions {
    width: 100%;
    align-items: stretch;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 430px) {
  .content {
    max-height: 72%;
    margin: 2.4rem;
    padding: 2.4rem;
    gap: 2.4rem;
  }

  .header {
    gap: 0.8rem;
  }

  .small .content {
    width: 45rem;
    max-height: 48%;
  }

  .normal .content {
    width: 65rem;
  }

  .auto .content {
    width: auto;
  }

  .overlay {
    align-items: center;
  }
}
