:root {
  --Chip-info-color: var(--color-link);
  --Chip-warning-color: var(--color-system-yellow-900);
  --Chip-error-color: var(--color-system-red-600);
  --Chip-success-color: var(--color-system-green-900);
  --Chip-inactive-color: var(--color-gray-200);
  --Chip-label-color: var(--color-white-100);
  --Chip-border-color: var(--color-border);
  --Chip-beta-color: var(--color-purple-600);
  --Chip-invited-color: var(--color-system-yellow-200);
  --Chip-federal-color: var(--color-yellow-500);
}

.Chip {
  display: inline-block;
  font-weight: var(--font-weight-semibold);
  font-size: 1.1rem;
  line-height: 1.2;
  border: 1px solid var(--Chip-border-color);
  border-radius: var(--border-radius);
  vertical-align: bottom;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.Chip--normal {
  font-size: 1.1rem;
  line-height: 1.4;
  padding: 0.3em;
}

.Chip--large {
  font-size: 1.3rem;
  line-height: 1.6;
  padding: 0.5em;
}

.Chip--subtle {
  background: var(--color-background);
}

.Chip--default {
  border-color: var(--color-gray-500);
  color: var(--color-gray-600);
}

.Chip--info {
  border-color: var(--Chip-info-color);
  color: var(--Chip-info-color);
}

.Chip--info:not(.Chip--subtle) {
  background-color: var(--Chip-info-color);
  color: var(--color-text-inverse);
}

.Chip--new {
  border-color: var(--Chip-success-color);
  color: var(--Chip-success-color);
}

.Chip--new:not(.Chip--subtle) {
  background-color: var(--Chip-success-color);
  color: var(--color-text-inverse);
}

.Chip--beta {
  border-color: var(--Chip-beta-color);
  color: var(--Chip-beta-color);
}

.Chip--beta:not(.Chip--subtle) {
  background-color: var(--Chip-beta-color);
  color: var(--color-text-inverse);
}

.Chip--invited {
  border-color: var(--Chip-invited-color);
  color: var(--color-system-yellow-900);
}

.Chip--invited:not(.Chip--subtle) {
  background-color: var(--Chip-invited-color);
}

.Chip--success {
  border-color: var(--Chip-success-color);
  color: var(--Chip-success-color);
}

.Chip--success:not(.Chip--subtle) {
  background-color: var(--Chip-success-color);
  color: var(--color-text-inverse);
}

.Chip--warning {
  border-color: var(--Chip-warning-color);
  color: var(--Chip-warning-color);
}

.Chip--warning:not(.Chip--subtle) {
  background-color: var(--Chip-warning-color);
  color: var(--color-text-inverse);
}

.Chip--error {
  border-color: var(--Chip-error-color);
  color: var(--Chip-error-color);
}

.Chip--error:not(.Chip--subtle) {
  background-color: var(--Chip-error-color);
  color: var(--color-text-inverse);
}

.Chip--inactive {
  border-color: var(--Chip-inactive-color);
  color: var(--Chip-inactive-color);
}

.Chip--inactive:not(.Chip--subtle) {
  background-color: var(--Chip-inactive-color);
  color: var(--color-black-200);
  border: 1px var(--Chip-inactive-color) solid;
}

.Chip--label {
  background-color: var(--Chip-label-color);
  color: var(--color-text-subtle-primary);
}

.Chip :global(.Icon) {
  margin-right: 0.2rem;
  vertical-align: top;
}

.Chip--clickable:hover {
  cursor: pointer;
  background: var(--color-background-hover);
  border: 1px solid var(--color-border);
}

.Chip--clickable:focus {
  outline: 0;
  border-radius: var(--border-radius);
  box-shadow: 0 0 4px var(--color-focus);
  z-index: 2;
}

.Chip--flag {
  border-radius: 1.5rem;
  font-size: 1.3rem;
  padding: 0.2rem;
  width: 4.8rem;
}

.Chip--flag--small {
  border-radius: 1rem;
  font-size: 1rem;
  width: 3rem;
  padding: 0.4rem;
}

.Chip--flagOn {
  border: var(--color-system-green-900) 1px solid;
  color: var(--color-system-green-900);
  max-height: 2.5rem;
}

.Chip--flagOff {
  border: var(--color-gray-700) 1px solid;
  color: var(--color-text-subtle-primary);
  background-color: var(--color-gray-100);
  max-height: 2.5rem;
}

.Chip--navbar {
  align-self: flex-start;
  border-radius: 0.4rem;
  margin-top: 0.4rem;
  min-width: 3.5rem;
  padding: 0.1rem 0;
}

.Chip--federal {
  background-color: var(--Chip-federal-color);
  border-color: var(--Chip-federal-color);
  color: var(--color-text);
}

.Chip--topbar {
  margin-left: 0.3rem;
}
