:root,
[data-theme='default'] {
  --lp-component-chip-color-bg-info: var(--lp-color-blue-600);
  --lp-component-chip-color-bg-warning: var(--lp-color-system-yellow-900);
  --lp-component-chip-color-bg-error: var(--lp-color-system-red-600);
  --lp-component-chip-color-bg-success: var(--lp-color-system-green-900);
  --lp-component-chip-color-bg-inactive: var(--lp-color-gray-200);
  --lp-component-chip-color-bg-label: var(--lp-color-white-100);
  --lp-component-chip-color-bg-beta: var(--lp-color-purple-600);
  --lp-component-chip-color-bg-federal: var(--lp-color-yellow-500);
}

[data-theme='dark'] {
  --lp-component-chip-color-bg-info: var(--lp-color-blue-500);
  --lp-component-chip-color-bg-warning: var(--lp-color-system-yellow-800);
  --lp-component-chip-color-bg-error: var(--lp-color-pink-500);
  --lp-component-chip-color-bg-success: var(--lp-color-system-green-700);
  --lp-component-chip-color-bg-inactive: var(--lp-color-gray-200);
  --lp-component-chip-color-bg-label: var(--lp-color-gray-800);
  --lp-component-chip-color-bg-beta: var(--lp-color-purple-800);
  --lp-component-chip-color-bg-federal: var(--lp-color-yellow-500);
}

.Chip {
  display: inline-block;
  font-weight: var(--lp-font-weight-semibold);
  font-size: 1.1rem;
  line-height: 1.2;
  border: 1px solid var(--lp-color-border-ui-primary);
  border-radius: var(--lp-border-radius-regular);
  vertical-align: bottom;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.Chip--normal {
  font-size: 1.1rem;
  line-height: 1.4;
  padding: 0.3em;
}

.Chip--large {
  font-size: 1.3rem;
  line-height: 1.6;
  padding: 0.5em;
}

.Chip--subtle {
  background: var(--lp-color-bg-ui-primary);
}

.Chip--default {
  border-color: var(--lp-color-border-ui-primary);
  color: var(--lp-color-text-ui-secondary);
}

.Chip--info {
  border-color: var(--lp-component-chip-color-bg-info);
  color: var(--lp-component-chip-color-bg-info);
}

.Chip--info:not(.Chip--subtle) {
  background-color: var(--lp-component-chip-color-bg-info);
  color: var(--lp-color-white);
}

.Chip--new {
  border-color: var(--lp-component-chip-color-bg-success);
  color: var(--lp-component-chip-color-bg-success);
}

.Chip--new:not(.Chip--subtle) {
  background-color: var(--lp-component-chip-color-bg-success);
  color: var(--lp-color-white);
}

.Chip--beta {
  border-color: var(--lp-component-chip-color-bg-beta);
  color: var(--lp-component-chip-color-bg-beta);
}

.Chip--beta:not(.Chip--subtle) {
  background-color: var(--lp-component-chip-color-bg-beta);
  color: var(--lp-color-white);
}

.Chip--success {
  border-color: var(--lp-component-chip-color-bg-success);
  color: var(--lp-component-chip-color-bg-success);
}

.Chip--success:not(.Chip--subtle) {
  background-color: var(--lp-component-chip-color-bg-success);
  color: var(--lp-color-white);
}

.Chip--warning {
  border-color: var(--lp-component-chip-color-bg-warning);
  color: var(--lp-component-chip-color-bg-warning);
}

.Chip--warning:not(.Chip--subtle) {
  background-color: var(--lp-component-chip-color-bg-warning);
  color: var(--lp-color-white);
}

.Chip--error {
  border-color: var(--lp-component-chip-color-bg-error);
  color: var(--lp-component-chip-color-bg-error);
}

.Chip--error:not(.Chip--subtle) {
  background-color: var(--lp-component-chip-color-bg-error);
  color: var(--lp-color-text-feedback);
}

.Chip--inactive {
  border-color: var(--lp-component-chip-color-bg-inactive);
  color: var(--lp-component-chip-color-bg-inactive);
}

.Chip--inactive:not(.Chip--subtle) {
  background-color: var(--lp-component-chip-color-bg-inactive);
  color: var(--lp-color-black-200);
  border: 1px var(--lp-component-chip-color-bg-inactive) solid;
}

.Chip--label {
  background-color: var(--lp-component-chip-color-bg-label);
  color: var(--lp-color-text-ui-primary);
}

.Chip :global([class*='_icon_']) {
  margin-right: 0.2rem;
  vertical-align: top;
}

.Chip--clickable:hover {
  cursor: pointer;
  background: var(--lp-color-bg-interactive-secondary-hover);
  border: 1px solid var(--lp-color-border-ui-primary);
}

.Chip--clickable:focus {
  outline: 0;
  border-radius: var(--lp-border-radius-regular);
  box-shadow: 0 0 4px var(--lp-color-shadow-interactive-focus);
  z-index: 2;
}

.Chip--federal {
  background-color: var(--lp-component-chip-color-bg-federal);
  border-color: var(--lp-component-chip-color-bg-federal);
  color: var(--lp-color-black-300);
}
