@import '../../../tokens/dist/media-queries.css';

.Pagination {
	display: inline-flex;
	align-items: center;
}

.PaginationText {
	padding: 0 0.3125rem;
}

.PaginationButton {
	color: var(--lp-color-black-300);
	text-decoration: none;
	font-size: 1.0625rem;
	cursor: pointer;
	padding: 0.25rem;
	vertical-align: top;
}

@media (--mobile) {
	.Pagination {
		font-size: 1.0625rem;
		align-items: center;
	}

	.PaginationButton {
		transform: scale(1.25);
	}
}

@media (--tablet) {
	.Pagination {
		font-size: 0.9375rem;
		align-items: flex-end;
	}

	.PaginationButton {
		transform: scale(1);
	}
}

.PaginationButton--disabled {
	color: var(--lp-color-gray-600);
	background-color: unset;
	cursor: default;
}
