@import '../../../tokens/dist/media-queries.css';

.Pagination {
  display: inline-flex;
  align-items: center;
}

.PaginationText {
  padding: 0 0.5rem;
}

.PaginationButton {
  color: var(--color-black-300);
  text-decoration: none;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.4rem;
  vertical-align: top;
}

@media (--mobile) {
  .Pagination {
    font-size: 1.7rem;
    align-items: center;
  }

  .PaginationButton {
    transform: scale(1.25);
  }
}

@media (--tablet) {
  .Pagination {
    font-size: 1.5rem;
    align-items: flex-end;
  }

  .PaginationButton {
    transform: scale(1);
  }
}

.PaginationButton--disabled {
  color: var(--color-gray-600);
  background-color: unset;
  cursor: default;
}
