:root {
  --code-color-background: var(--color-gray-100);
  --code-border-radius: 12px;
  --code-padding: 0.4rem 0.8rem;
  --code-font-size: 90%;
}

code {
  font-family: var(--font-monospace-family);
  font-size: var(--code-font-size);
  margin: 0;
  background-color: var(--code-color-background);
  border-radius: var(--code-border-radius);
  padding: var(--code-padding);
}
