:root {
  --SplitButton-color-border-primary: var(--lp-color-blue-500);
  --SplitButton-focus-margin: -0.5rem;
  --SplitButton-focus-radius: 1rem;
  --SplitButton-focus-radius-small: 0.6rem;
  --SplitButton-drop-border-left: 1px;
  --SplitButton-drop-line-height: 1.7;
  --SplitButton-drop-margin: 0.1rem;
  --SplitButton-drop-padding: 0.4rem 0 0.6rem;
  --SplitButton-drop-padding-small: 0.2rem 0 0.3rem;
  --SplitButton-popoverTarget-line-height: 1;
  --SplitButton-border-focus-color: var(--lp-color-focus);
  --SplitButton-box-shadow-focus: 0 0 0 2px var(--lp-color-white), 0 0 0 4px var(--lp-color-focus);
  --SplitButton-drop-width: 3.4rem;
}

.SplitButton-drop.Button {
  border-left-width: var(--SplitButton-drop-border-left);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: var(--SplitButton-drop-padding);
  margin-left: -0.1rem;
  width: calc(var(--SplitButton-drop-width) + 0.2rem);
}

.SplitButton {
  align-items: flex-start;
  display: flex;
  line-height: var(--SplitButton-popoverTarget-line-height);
  isolation: isolate;

  & .Button--default.SplitButton-main {
    --SplitButton-color-border-primary: var(--lp-color-gray-300);
  }

  & .Button--primary.SplitButton-drop {
    margin-left: var(--SplitButton-drop-margin);
    width: var(--SplitButton-drop-width);
  }
}

.SplitButton-main.Button,
.SplitButton-drop.Button {
  min-height: 2.5rem;
}

.SplitButton-main.Button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.SplitButton-main.Button:not([disabled]) {
  border-right: 1px solid var(--SplitButton-color-border-primary);
}

.SplitButton :nth-child(1):focus-within {
  z-index: 1;
}

.SplitButton :nth-child(2):focus-within + * {
  z-index: 0;
}

.SplitButton :nth-child(2):focus-within {
  z-index: 1;
}

.SplitButton :nth-child(1):focus-within + * {
  z-index: 0;
}

.SplitButton-main.Button:focus-visible {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: var(--SplitButton-box-shadow-focus);
}

.SplitButton-drop.Button--small {
  padding: var(--SplitButton-drop-padding-small);
}

.SplitButton-drop.Button:focus-visible {
  box-shadow: var(--SplitButton-box-shadow-focus);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: var(--SplitButton-drop-border-left);
}
