:root {
	--lp-component-splitbutton--color-border-primary: var(--lp-color-border-interactive-primary-base);
	--lp-component-splitbutton-color-shadow-focus: 0 0 0 2px
		var(--lp-color-shadow-interactive-primary), 0 0 0 4px var(--lp-color-shadow-interactive-focus);
}

.SplitButtonDrop:global([class*='_Button']) {
	border-left-width: 1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	padding: 0 0.5rem;
	margin-left: -0.0625rem;
}

.SplitButtonDrop:global([class*='_Button--small']) {
	padding: 0 0.25rem;
}

.SplitButtonMain:global([class*='_Button']) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.SplitButton {
	align-items: flex-start;
	display: flex;
	line-height: 1;
	isolation: isolate;

	& :global([class*='_Button--default']).SplitButtonMain {
		--lp-component-splitbutton--color-border-primary: var(--lp-color-border-ui-primary);
	}

	& :global([class*='_Button--primary']).SplitButtonDrop {
		margin-left: 0.0625rem;
	}

	& [data-icon] {
		fill: currentColor;
	}
}

.SplitButtonDrop:global([class*='_Button']) > span {
	line-height: 1;
}

.SplitButtonMain:global([class*='_Button']):not([disabled]) {
	border-right: 1px solid var(--lp-component-splitbutton--color-border-primary);
}

.SplitButton :nth-child(1):focus-within {
	z-index: 1;
}

.SplitButton :nth-child(2):focus-within + * {
	z-index: 0;
}

.SplitButton :nth-child(2):focus-within {
	z-index: 1;
}

.SplitButton :nth-child(1):focus-within + * {
	z-index: 0;
}

.SplitButtonMain:global([class*='_Button']):focus-visible {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: var(--lp-component-splitbutton-color-shadow-focus);
}

.SplitButtonDrop:global([class*='_Button']):focus-visible {
	box-shadow: var(--lp-component-splitbutton-color-shadow-focus);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-width: 1px;
}

.SplitButtonMain:global([class*='_Button']):active,
.SplitButtonDrop:global([class*='_Button']):active {
	box-shadow: none;
}
