:root {
  --lp-component-splitbutton--color-border-primary: var(--lp-color-border-interactive-primary);
  --lp-component-splitbutton-color-shadow-focus: 0 0 0 2px
      var(--lp-color-shadow-interactive-primary),
    0 0 0 4px var(--lp-color-shadow-interactive-focus);
}

.SplitButton {
  align-items: flex-start;
  display: flex;
  line-height: 1;
  isolation: isolate;

  & .Button--default.SplitButton-main {
    --lp-component-splitbutton--color-border-primary: var(--lp-color-border-ui-primary);
  }

  & .Button--primary.SplitButton-drop {
    margin-left: 0.1rem;
  }
}

.SplitButton-drop.Button {
  border-left-width: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 0.8rem;
  margin-left: -0.1rem;
}

.SplitButton-drop.Button > span {
  line-height: 1;
}

.SplitButton-main.Button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.SplitButton-main.Button:not([disabled]) {
  border-right: 1px solid var(--lp-component-splitbutton--color-border-primary);
}

.SplitButton :nth-child(1):focus-within {
  z-index: 1;
}

.SplitButton :nth-child(2):focus-within + * {
  z-index: 0;
}

.SplitButton :nth-child(2):focus-within {
  z-index: 1;
}

.SplitButton :nth-child(1):focus-within + * {
  z-index: 0;
}

.SplitButton-main.Button:focus-visible {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: var(--lp-component-splitbutton-color-shadow-focus);
}

.SplitButton-drop.Button--small {
  padding: 0 0.4rem;
}

.SplitButton-drop.Button:focus-visible {
  box-shadow: var(--lp-component-splitbutton-color-shadow-focus);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 1px;
}

.SplitButton-main.Button:active,
.SplitButton-drop.Button:active {
  box-shadow: none;
}
