name: Changeset Check

on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - opened
      - synchronize
      - reopened

jobs:
  changeset-check:
    if: |
      !contains(github.event.pull_request.head.ref, 'changeset-release') &&
      !contains(github.event.pull_request.labels.*.name, 'skip changeset')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm

      - name: Check for Changeset
        run: pnpx @changesets/cli status --since="origin/main"
