name: Chromatic

on:
  push:
    branches:
      - '**'

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          audience: https://github.com/launchdarkly
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - uses: dkershner6/aws-ssm-getparameters-action@v1
        with:
          parameterPairs: '/production/common/launchpad-ui/chromatic-token = CHROMATIC_TOKEN'
          withDecryption: 'true'

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Publish to Chromatic
        uses: chromaui/action@v1
        env:
          NODE_OPTIONS: '--max_old_space_size=4096'
        with:
          projectToken: ${{ env.CHROMATIC_TOKEN }}
          buildScriptName: 'storybook:build'
          exitOnceUploaded: true
          onlyChanged: true
          externals: packages/(icons/src/img|tokens/src)/**
