name: Compressed Size

on: pull_request

jobs:
  build:
    name: Package Size
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: pnpm

      - uses: preactjs/compressed-size-action@v2
        with:
          pattern: '**/dist/**/*.{css,js}'
