name: Release

on:
  push:
    branches:
      - main
      - 'release/**'

jobs:
  release:
    # Prevents changesets action from creating a PR on forks
    if: github.repository == 'launchdarkly/launchpad-ui'
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          audience: https://github.com/launchdarkly
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - uses: dkershner6/aws-ssm-getparameters-action@v2
        with:
          parameterPairs: '/production/common/launchpad-ui/gh-pat-token = CUSTOM_GITHUB_TOKEN'
          withDecryption: 'true'

      - uses: actions/checkout@v4
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          token: ${{ env.CUSTOM_GITHUB_TOKEN }}

      - uses: pnpm/action-setup@v3

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1
        with:
          commit: 'chore: version packages'
          title: 'chore: version packages'
          publish: pnpm release
          cwd: ${{ github.workspace }}
        env:
          GITHUB_TOKEN: ${{ env.CUSTOM_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
