name: Release LaunchPad VS Code Extension

on:
  push:
    paths:
      - 'apps/vscode/CHANGELOG.md'
    branches:
      - main

jobs:
  release-vscode:
    # Prevents action from publishing on forks
    if: github.repository == 'launchdarkly/launchpad-ui'
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Get Token
        uses: launchdarkly/gh-actions/actions/release-secrets@release-secrets-v1.2.0
        with:
          aws_assume_role: ${{ vars.AWS_ROLE_ARN }}
          ssm_parameter_pairs: '/production/common/services/vscode_marketplace/vsce_pat = VSCE_PAT'

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build extension
        run: pnpm nx run launchpad-design-system:build

      - name: Publish extension
        run: pnpm nx run launchpad-design-system:publish
