name: Release

on:
  push:
    branches:
      - main
      - 'release/**'

jobs:
  release:
    # Prevents changesets action from creating a PR on forks
    if: github.repository == 'launchdarkly/launchpad-ui'
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Get Tokens
        uses: launchdarkly/gh-actions/actions/release-secrets@release-secrets-v1.2.0
        with:
          aws_assume_role: ${{ vars.AWS_ROLE_ARN }}
          ssm_parameter_pairs: |
            /production/common/launchpad-ui/gh-pat-token = CUSTOM_GITHUB_TOKEN,
            /production/common/releasing/npm/token = NODE_AUTH_TOKEN

      - uses: actions/checkout@v5
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          token: ${{ env.CUSTOM_GITHUB_TOKEN }}

      - uses: pnpm/action-setup@v4

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1
        with:
          commit: 'chore: version packages'
          title: 'chore: version packages'
          publish: pnpm release
          cwd: ${{ github.workspace }}
        env:
          GITHUB_TOKEN: ${{ env.CUSTOM_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ env.NODE_AUTH_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
