name: Verify changes

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v2.2.1

      - name: Setup Node 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint && pnpm lint:packages

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v2.2.1

      - name: Setup Node 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Test
        run: pnpm test:packages

  e2e:
    name: e2e
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v2.2.1

      - name: Setup Node 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Get Playwright Version
        id: get-version
        run: |
          echo "::set-output name=version::$(pnpm playwright --version)"
        shell: bash

      - name: Cache Browsers
        id: cache-browsers
        uses: actions/cache@v3
        with:
          path: '~/.cache/ms-playwright'
          key: ${{ runner.os }}-${{ steps.get-version.outputs.version }}

      - name: Install Playwright
        if: steps.cache-browsers.outputs.cache-hit != 'true'
        run: pnpm dlx playwright install --with-deps

      - name: Test
        run: pnpm e2e:ci
